# Q no 1

1. Scrape the details of most viewed videos on YouTube from Wikipedia:
    
Url= https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos     
        
You need to find following details: 
    
    A) Rank
    B) Name 
    C) Artist 
    D) Upload date 
    E) Views

In [2]:
# importing necessary libraries
import pandas as pd
from bs4 import BeautifulSoup
import requests
import numpy as np
import time


# sending the request to the webpage server to get the source code of 
page=requests.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos ')
time.sleep(2)


# getting the page content in the soup object
soup=BeautifulSoup(page.content)


# finding the table data into table variable
table= soup.find('table',{'class':"wikitable sortable"})


# taking all the rows from table
rows=table.find_all('tr')


row_list=[]                                      # declaring empty row_list to save the row data
for tr in rows:
    td=tr.find_all('td')                         # finding all the table data in a variable
    row_data=[i.text for i in td]
    row_list.append(row_data)                    # appending all the data in a list
    
    
# creating the dataframe
you_tube_videos=pd.DataFrame(row_list,columns=['Rank','Name','Artist','Views','Upload Date ',6])      
you_tube_videos.drop(6,axis=1,inplace=True)             # dropping an extra column of the table
you_tube_videos.replace('None',np.nan)                  # replacing 'None' values with np.nan
you_tube_videos.dropna()                                # dropping nan values

,Rank,Name,Artist,Views,Upload Date
1,1.,"""Baby Shark Dance""[22]",Pinkfong Kids' Songs & Stories,8.78,"June 17, 2016"
2,2.,"""Despacito""[24]",Luis Fonsi,7.40,"January 12, 2017"
3,3.,"""Johny Johny Yes Papa""[25]",LooLoo Kids,5.46,"October 8, 2016"
4,4.,"""Shape of You""[26]",Ed Sheeran,5.35,"January 30, 2017"
5,5.,"""See You Again""[27]",Wiz Khalifa,5.14,"April 6, 2015"
6,6.,"""Masha and the Bear – Recipe for Disaster""[30]",Get Movies,4.44,"January 31, 2012"
7,7.,"""Uptown Funk""[31]",Mark Ronson,4.20,"November 19, 2014"
8,8.,"""Learning Colors – Colorful Eggs on a Farm""[32]",Miroshka TV,4.15,"February 27, 2018"
9,9.,"""Bath Song""[33]",Cocomelon – Nursery Rhymes,4.14,"May 2, 2018"
10,10.,"""Gangnam Style""[34]",Psy,4.09,"July 15, 2012"
11,11.,"""Phonics Song with Two Words""[36]",ChuChu TV,3.92,"March 6, 2014"
12,12.,"""Sugar""[37]",Maroon 5,3.48,"January 14, 2015"
13,13.,"""Sorry""[38]",Justin Bieber,3.44,"October 22, 2015"
14,14.,"""Dame Tu Cosita""[39]",El Chombo,3.39,"April 5, 2018"
15,15.,"""Roar""[40]",Katy Perry,3.37,"September 5, 2013"
16,16.,"""Counting Stars""[41]",OneRepublic,3.32,"May 31, 2013"
17,17.,"""Thinking Out Loud""[42]",Ed Sheeran,3.27,"October 7, 2014"
18,18.,"""Dark Horse""[43]",Katy Perry,3.09,"February 20, 2014"
19,19.,"""Faded""[44]",Alan Walker,3.08,"December 3, 2015"
20,20.,"""Wheels on the Bus""[45]",Cocomelon – Nursery Rhymes,3.08,"May 24, 2018"
21,21.,"""Shake It Off""[46]",Taylor Swift,3.07,"August 18, 2014"
22,22.,"""Lean On""[47]",Major Lazer,3.05,"March 22, 2015"
23,23.,"""Girls Like You""[48]",Maroon 5,3.05,"May 31, 2018"
24,24.,"""Bailando""[49]",Enrique Iglesias,3.04,"April 11, 2014"
25,25.,"""Let Her Go""[50]",Passenger,3.01,"July 25, 2012"
26,26.,"""Mi Gente""[51]",J Balvin,2.93,"June 29, 2017"
27,27.,"""Perfect""[52]",Ed Sheeran,2.87,"November 9, 2017"
28,28.,"""Waka Waka (This Time for Africa)""[53]",Shakira,2.85,"June 4, 2010"
29,29.,"""Hello""[54]",Adele,2.84,"October 22, 2015"
30,30.,"""Axel F""[55]",Crazy Frog,2.83,"June 16, 2009"

# Q NO 2

 Scrape the details team India’s international fixtures from bcci.tv. 
    
    Url = https://www.bcci.tv/. You need to find following details: 
            A) Match title (I.e. 1st ODI) 
            B) Series
            C) Place 
            D) Date
            E) Time
            
            Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [5]:
# importing necessary libraries
import pandas as pd
import selenium
from selenium import webdriver
import time



# setting up chrome driver
driver=webdriver.Chrome(r'Chromedriver.exe')
time.sleep(4)


# loading the website
driver.get('https://www.bcci.tv/.')
time.sleep(2)



# clicking on international tab
International_tab=driver.find_elements_by_xpath('//li[@data-nav-index="0"]')
for i in International_tab:
    if i.text =="INTERNATIONAL":
        i.click()
time.sleep(1)

        
        
# clicking on fixture option in the internatinal_tab list
fixture_button=driver.find_elements_by_xpath('//a[@href="/international/fixtures"]')
for i in  fixture_button:
    if i.text=="Fixtures":
        i.click()
time.sleep(2)        




# defining empty list for storing output
date=[]
day=[]
month=[]
time=[]
place=[]
match_title=[]
series=[]


# retrieving data using xpath
for i in driver.find_elements_by_xpath('//div[@class="fixture__datetime desktop-only"]'):
    temp_data=i.text.split('\n')
    date.append(temp_data[1]+" "+temp_data[2]+" "+temp_data[0])
    time.append(temp_data[3])

for i in driver.find_elements_by_xpath('//div[@class="fixture__info u-skewed"]'):
    temp_data=i.text.split('\n')
    match_title.append(temp_data[2])
    place.append(temp_data[3])
    series.append(temp_data[0]+" "+temp_data[1])

    
    
# creating DataFrame
International_fixtures=pd.DataFrame({})
International_fixtures['Match_title']=match_title
International_fixtures['Series']=series
International_fixtures['Place']=place
International_fixtures['Date']=date
International_fixtures['Time']=time


# calling the dataframe
International_fixtures

,Match_title,Series,Place,Date,Time
0,Final,TEST ICC WORLD TEST CHAMPIONSHIP,"The Ageas Bowl, Southampton",18 JUNE Friday,15:00 IST
1,1st ODI,ODI SRI LANKA V INDIA 2021,"R Premadasa Stadium, Colombo",13 JULY Tuesday,14:30 IST
2,2nd ODI,ODI SRI LANKA V INDIA 2021,"R Premadasa Stadium, Colombo",16 JULY Friday,14:30 IST
3,3rd ODI,ODI SRI LANKA V INDIA 2021,"R Premadasa Stadium, Colombo",18 JULY Sunday,14:30 IST
4,1st T20I,T20I SRI LANKA V INDIA 2021,"R Premadasa Stadium, Colombo",21 JULY Wednesday,19:00 IST
5,2nd T20I,T20I SRI LANKA V INDIA 2021,"R Premadasa Stadium, Colombo",23 JULY Friday,19:00 IST
6,3rd T20I,T20I SRI LANKA V INDIA 2021,"R Premadasa Stadium, Colombo",25 JULY Sunday,19:00 IST
7,1st Test,TEST ENGLAND V INDIA 2021,"Trent Bridge, Nottingham",04 AUGUST Wednesday,15:30 IST
8,2nd Test,TEST ENGLAND V INDIA 2021,"Lord's, London",12 AUGUST Thursday,15:30 IST
9,3rd Test,TEST ENGLAND V INDIA 2021,"Headingley, Leeds",25 AUGUST Wednesday,15:30 IST
10,4th Test,TEST ENGLAND V INDIA 2021,"The Oval, London",02 SEPTEMBER Thursday,15:30 IST
11,5th Test,TEST ENGLAND V INDIA 2021,"Old Trafford, Manchester",10 SEPTEMBER Friday,15:30 IST

In [6]:
# closing the driver
driver.close()

# Q NO 3

 Scrape the details of selenium exception from guru99.com. 
    Url = https://www.guru99.com/
    
    You need to find following details: 
    
            A) Name 
            B) Description 
            
            Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [7]:
# importing necessary libraries
import selenium
import time
import pandas as pd
import requests
from bs4 import BeautifulSoup
from selenium import webdriver



# activating chrome through chromedriver
driver = webdriver.Chrome(r'Chromedriver.exe')
time.sleep(5)



#loading the website
driver.get("https://www.guru99.com")
time.sleep(4)



# maximising the window
driver.maximize_window()
time.sleep(3)



# clicking on selenium option in the first table 
click_Selenium=driver.find_element_by_xpath('//div[@class="featured-box cloumnsize1"]/ul/li[3]')
click_Selenium.click()
time.sleep(3)



# clicking on selenium_exception option in the fifth table last option
click_Selenium_Exception=driver.find_element_by_xpath('//table[@class="table"][5]//tr[34]//a')
click_Selenium_Exception.click()
time.sleep(2)



# getting the url of the current page
url=driver.current_url


# passing the url in page object(for beautiful soup)
page=requests.get(url)
time.sleep(4)


#getting the page content in the soup object
soup=BeautifulSoup(page.content)


#getting the complete data in the table_data variable
table_data=soup.find('table',class_="table table-striped")


#separating the rows from table in rows variable
rows=table_data.find_all('tr')


# getting the whole table in the list format as required
row_list=[]
for tr in rows:
    td=tr.find_all('td')
    rows_data=[i.text for i in td]
    row_list.append(rows_data)
    
    
    
# creating the DataFrame
import pandas as pd
exception_table=pd.DataFrame(row_list,columns=['Name','Description'])
exception_table

,Name,Description
0,Exception name,Description
1,ElementNotVisibleException,This type of Selenium exception occurs when an...
2,ElementNotSelectableException,This Selenium exception occurs when an element...
3,NoSuchElementException,This Exception occurs if an element could not ...
4,NoSuchFrameException,This Exception occurs if the frame target to b...
5,NoAlertPresentException,This Exception occurs when you switch to no pr...
6,NoSuchWindowException,This Exception occurs if the window target to ...
7,StaleElementReferenceException,This Selenium exception occurs happens when th...
8,SessionNotFoundException,The WebDriver is acting after you quit the bro...
9,TimeoutException,Thrown when there is not enough time for a com...
10,WebDriverException,This Exception takes place when the WebDriver ...
11,ConnectionClosedException,This type of Exception takes place when there ...
12,ElementClickInterceptedException,The command may not be completed as the elemen...
13,ElementNotInteractableException,This Selenium exception is thrown when any ele...
14,ErrorInResponseException,This happens while interacting with the Firefo...
15,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
16,ImeActivationFailedException,This expectation will occur when IME engine ac...
17,ImeNotAvailableException,It takes place when IME support is unavailable.
18,InsecureCertificateException,Navigation made the user agent to hit a certif...
19,InvalidArgumentException,It occurs when an argument does not belong to ...
20,InvalidCookieDomainException,This happens when you try to add a cookie unde...
21,InvalidCoordinatesException,This type of Exception matches an interacting ...
22,InvalidElementStateExceptio,It occurs when command can't be finished when ...
23,InvalidSessionIdException,This Exception took place when the given sessi...
24,InvalidSwitchToTargetException,This occurs when the frame or window target to...
25,JavascriptException,This issue occurs while executing JavaScript g...
26,JsonException,It occurs when you afford to get the session w...
27,NoSuchAttributeException,This kind of Exception occurs when the attribu...
28,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
29,NoSuchContextException,ContextAware does mobile device testing.
30,NoSuchCookieException,This Exception occurs when no cookie matching ...
31,NotFoundException,This Exception is a subclass of WebDriverExcep...
32,RemoteDriverServerException,This Selenium exception is thrown when the ser...
33,ScreenshotException,It is not possible to capture a screen.
34,SessionNotCreatedException,It happens when a new session could not be suc...
35,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
36,UnexpectedTagNameException,Happens if a support class did not get a web e...
37,UnhandledAlertException,This expectation occurs when there is an alert...
38,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
39,UnknownMethodException,This Exception happens when the requested comm...
40,UnreachableBrowserException,This Exception occurs only when the browser is...
41,UnsupportedCommandException,This occurs when remote WebDriver does n't sen...

In [8]:
# closing the driver
driver.close()

# Q NO 4

Scrape the details of State-wise GDP of India from statisticstime.com. Url = http://statisticstimes.com/
    
    You have to find following details:
        
        A) Rank B) State C) GSDP(18-19) D) GSDP(17-18) E) Share(2017) F) GDP($ billion) 
        
        Note: - From statisticstimes home page you have to reach to economy page through code.

In [9]:
#importing necessary libraries

import pandas as pd
import time
import selenium
from selenium import webdriver
import requests
from bs4 import BeautifulSoup
import numpy as np


# opening the chrome browser
driver=webdriver.Chrome(r'Chromedriver.exe')
time.sleep(4)


# loading the website
driver.get('http://statisticstimes.com/')
time.sleep(2)



# clicking on the economy  tab
for i in driver.find_elements_by_xpath('//button[@class="dropbtn"]'):
    if i.text =='Economy':
        i.click()
        
        
# clicking on India option in economy tab and getting the 
import operator 
for i in driver.find_elements_by_xpath('//div[@class="dropdown-content"]//a'):
    str = "/economy/india-statistics.php"
    temp=i.get_attribute('href')
    if operator.contains(temp,"/economy/india-statistics.php"): 
        link=temp
driver.get(link)
time.sleep(2)


# clicking on the GDP of Indian states option
gdp_of_Indian_states=driver.find_element_by_xpath('//ul[@style="list-style-type:none;margin-left:20px;"]//li[1]')
gdp_of_Indian_states.click()


#  taking the url of the current page to pass it to beautiful soup
url=driver.current_url


# passing the url to the page object 
page=requests.get(url)


# getting the page content through beautifulsoup
soup=BeautifulSoup(page.content)


# getting the table data in the table variable
table=soup.find('table',id='table_id')


# taking all the rows from table
rows=table.find_all('tr')


row_list=[]                                      # declaring empty row_list to save the row data
for tr in rows:
    td=tr.find_all('td')                         # finding all the table data in a variable
    row_data=[i.text for i in td]
    row_list.append(row_data)                    # appending all the data in a list
    
    
# creating the dataframe and removing the table with 'None ' values and dropping the unnecessary columns
gdp=pd.DataFrame(row_list,columns=['Rank','State','GSDP (19-20)','GSDP ( 18-19 )','Share (18-19)' ,'GDP($ billion)','GSDP(INR 2011-12)19-20','GSDP(INR 2011-12)17-18'])      
gdp.drop('GSDP(INR 2011-12)19-20',axis=1,inplace=True)             # dropping an extra column of the table
gdp.drop('GSDP(INR 2011-12)17-18',axis=1,inplace=True)    
gdp.replace('None',np.nan)                  # replacing 'None' values with np.nan
gdp.dropna()

,Rank,State,GSDP (19-20),GSDP ( 18-19 ),Share (18-19),GDP($ billion)
2,1,Maharashtra,-,"2,632,792",13.94%,399.921
3,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
4,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
5,4,Gujarat,-,"1,502,899",7.96%,228.290
6,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
7,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556
8,7,Rajasthan,"1,020,989","942,586",4.99%,143.179
9,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083
10,9,Telangana,"969,604","861,031",4.56%,130.791
11,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977
12,11,Kerala,-,"781,653",4.14%,118.733
13,12,Delhi,"856,112","774,870",4.10%,117.703
14,13,Haryana,"831,610","734,163",3.89%,111.519
15,14,Bihar,"611,804","530,363",2.81%,80.562
16,15,Punjab,"574,760","526,376",2.79%,79.957
17,16,Odisha,"521,275","487,805",2.58%,74.098
18,17,Assam,-,"315,881",1.67%,47.982
19,18,Chhattisgarh,"329,180","304,063",1.61%,46.187
20,19,Jharkhand,"328,598","297,204",1.57%,45.145
21,20,Uttarakhand,-,"245,895",1.30%,37.351
22,21,Jammu & Kashmir,-,"155,956",0.83%,23.690
23,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369
24,23,Goa,"80,449","73,170",0.39%,11.115
25,24,Tripura,"55,984","49,845",0.26%,7.571
26,25,Chandigarh,-,"42,114",0.22%,6.397
27,26,Puducherry,"38,253","34,433",0.18%,5.230
28,27,Meghalaya,"36,572","33,481",0.18%,5.086
29,28,Sikkim,"32,496","28,723",0.15%,4.363
30,29,Manipur,"31,790","27,870",0.15%,4.233
31,30,Nagaland,-,"27,283",0.14%,4.144
32,31,Arunachal Pradesh,-,"24,603",0.13%,3.737
33,32,Mizoram,"26,503","22,287",0.12%,3.385
34,33,Andaman & Nicobar Islands,-,-,-,-
35,,India,"20,351,013","18,886,957",,"2,869"

In [10]:
# closing the chromedriver
driver.close()

# Q NO 5

 Scrape the details of trending repositories on Github.com. Url  = https://github.com/
        
        You have to find the following details:
            A) Repository title 
            B) Repository description
            C) Contributors count
            D) Language used 
            
    
    Note: - From the home page you have to click on the trending option from Explore menu through code.

In [11]:
# importing necessary libraries

import pandas as pd
import selenium
import time
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException


# opening chrome 
driver=selenium.webdriver.Chrome(r'Chromedriver.exe')


# loading the website
driver.get('https://github.com/')


#  clicking on explore button
explore_button_link=driver.find_element_by_xpath('//a[@data-ga-click="(Logged out) Header, go to Explore"]')
explore_link=explore_button_link.get_attribute('href')
driver.get(explore_link)


# declaring empty list to store output
repository_title=[]
repository_link=[]
repository_description=[]
languages_used=[]
for i in driver.find_elements_by_xpath('//a[@class="text-bold"]'):
    repository_title.append(i.text)
    link=i.get_attribute('href')
    repository_link.append(link)
    


for i in repository_link:
    driver.get(i)
    try :
        description=driver.find_element_by_xpath('//p[@class="f4 mt-3"]')
        repository_description.append(description.text)
    except NoSuchElementException:
        repository_description.append(' -- ')
        


for i in repository_link:
    driver.get(i)
    try :
        languages=''
        for i in driver.find_elements_by_xpath('//li//a[@class="d-inline-flex flex-items-center flex-nowrap Link--secondary no-underline text-small mr-3"]'):
            languages=languages+(i.text.replace('\n',' ').replace('%','% , '))
            #print(languages)
            #print(i.text)
        languages_used.append(languages)
    except NoSuchElementException:
        languages_used.append(' -- ')
        
contributors_count=[]
contributors=''
for i in repository_link:
    driver.get(i)
    try :
        contributors=''
        for i in driver.find_elements_by_xpath('//a[@class="Link--primary no-underline"]'):
            contributors=contributors+(i.text.replace('\n',' '))
        contributors_count.append(contributors)
    except NoSuchElementException:
        contributors_count.append(' -- ')
        
count=[]
for i in contributors_count:
    contributors=i.split('Contributors')
    try :
        count.append(contributors[1])
    except IndexError:
        count.append('-')
    

    
# Creating dataframe
github=pd.DataFrame({})
github['Repository Title']=repository_title
github['Repository_description']=repository_description
github['Contributors_count']=count
github['Languages_used']=languages_used

github

,Repository Title,Repository_description,Contributors_count,Languages_used
0,fully-homomorphic-encryption,Libraries and tools to perform fully homomorph...,2,"C++ 83.2% , Starlark 13.8% , C 2.7% , Dockerfi..."
1,jd,--,2,"JavaScript 100.0% ,"
2,Watchy,Watchy - An Open Source E-Ink Smartwatch,5,"C 89.5% , C++ 10.5% ,"
3,jina,Cloud-Native Neural Search Framework for Any K...,97,"Python 95.9% , HTML 1.3% , Shell 0.9% , CSS 0...."
4,tinygrad,You like pytorch? You like micrograd? You love...,48,"Python 51.0% , Verilog 39.3% , Objective-C++ 6..."
5,turbo-rails,Use Turbo in your Ruby on Rails app,33,"JavaScript 51.2% , Ruby 44.3% , HTML 3.4% ,"
6,NvChad,beautiful neovim setup configured in lua,13,"Lua 96.3% , Shell 3.7% ,"
7,coding-interview-university,A complete computer science study plan to beco...,198,
8,Gooey,Turn (almost) any Python command line program ...,83,"Python 100.0% ,"
9,monyhar-lite,梦弘浏览器 自主研发版本 - 完全自主研发，打破国外垄断，比 Chrome 快 600%。缺...,-,"C 100.0% ,"
10,chromium,The official GitHub mirror of the Chromium source,"2,178",
11,the-book-of-secret-knowledge,"A collection of inspiring lists, manuals, chea...",83,
12,30-Days-Of-JavaScript,30 days of JavaScript programming challenge is...,18,"JavaScript 97.8% , HTML 2.2% ,"
13,javascript-questions,A long list of (advanced) JavaScript questions...,159,
14,Smart-Inspector,Keeps your screen real-estate clean with refin...,-,"C# 100.0% ,"
15,formily,Alibaba Group Unified Form Solution -- Support...,89,"TypeScript 89.1% , JavaScript 3.5% , Less 2.6%..."
16,jd_scripts,--,-,"JavaScript 100.0% ,"
17,pytorch-tutorial,PyTorch Tutorial for Deep Learning Researchers,27,"Python 99.4% , Shell 0.6% ,"
18,next.js,The React Framework,"1,639","JavaScript 83.1% , TypeScript 16.4% , CSS 0.3%..."
19,books,【编程随想】收藏的电子书清单（多个学科，含下载链接）,-,
20,rich,Rich is a Python library for rich text and bea...,90,"Python 99.9% ,"
21,jdh-8,An 8-bit minicomputer with a fully custom arch...,-,"C 76.0% , Assembly 22.4% ,"
22,bee,Bee is a Swarm client implemented in Go. It’s ...,36,"Go 99.5% ,"
23,SegFormer,"Official implementation of ""SegFormer: Simple ...",3,"Python 99.7% ,"
24,rustdesk,Yet another remote desktop software,7,"Rust 95.4% , HTML 1.8% , CSS 1.7% ,"

In [12]:
# closing the chrome driver
driver.close()

# q no 6

Scrape the details of top 100 songs on billiboard.com.

Url = https://www.billboard.com/ You have to find the following details: 
        
        A) Song name B) Artist name C) Last week rank D) Peak rank E) Weeks on board 
        
        Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [17]:
# importing necessary libraries
import pandas as pd
import selenium
import requests
import time
from bs4 import BeautifulSoup
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException


# opening chrome browser
driver=webdriver.Chrome(r'Chromedriver.exe')
time.sleep(5)


# loading the website
driver.get('https://www.billboard.com/')
time.sleep(4)


# clicking on chart button
chart_button=driver.find_element_by_xpath('//header//div[@class="header__main-menu__wrapper flex--grow"]//ul//li[1]')
chart_button.click()
time.sleep(8)


# clicking on top 100 tab
top100_tab=driver.find_element_by_xpath('//div[@class="charts-landing__info--top charts-landing__info--top--hot-100"]')
top100_tab.click()
time.sleep(8)


# declaring empty list to store data
song_name=[]
artist=[]
peak_rank=[]
week_rank=[]
last_rank=[]


# appending  data in respective lists and handling exceptions

try:
    for i in driver.find_elements_by_xpath('//span[@class="chart-element__information__song text--truncate color--primary"]'):
        song_name.append(i.text)
except NoSuchElementException:
    song_name.append('--')
time.sleep(1)


try:
    for i in driver.find_elements_by_xpath('//span[@class="chart-element__information__artist text--truncate color--secondary"]'):
        artist.append(i.text)
except NoSuchElementException:
    artist.append('--')
time.sleep(1)



try:
    for i in driver.find_elements_by_xpath('//div[@class="chart-element__meta text--center color--secondary text--peak"]'):
        peak_rank.append(i.text)
except NoSuchElementException:
    peak_rank.append('--')
time.sleep(1)



try:
    for i in driver.find_elements_by_xpath('//div[@class="chart-element__meta text--center color--secondary text--week"]'):
        week_rank.append(i.text)
except NoSuchElementException:
    week_rank.append('--')
time.sleep(1)    



try:
    for i in driver.find_elements_by_xpath('//div[@class="chart-element__meta text--center color--secondary text--last"]'):
        last_rank.append(i.text)
except NoSuchElementException:
    last_rank.append('--')
time.sleep(1)


#creating a DataFrame and adding data
BillBoard=pd.DataFrame({})
BillBoard['Song Name']=song_name
BillBoard['Artist Name']=artist
BillBoard['Last week rank']=last_rank
BillBoard['Peak rank']=peak_rank
BillBoard['Weeks on board']=week_rank

In [18]:
BillBoard

,Song Name,Artist Name,Last week rank,Peak rank,Weeks on board
0,Butter,BTS,1,1,3
1,Good 4 U,Olivia Rodrigo,2,1,4
2,Levitating,Dua Lipa Featuring DaBaby,3,2,36
3,Peaches,Justin Bieber Featuring Daniel Caesar & Giveon,6,1,12
4,Leave The Door Open,Silk Sonic (Bruno Mars & Anderson .Paak),4,1,14
...,...,...,...,...,...
95,Things A Man Oughta Know,Lainey Wilson,93,93,4
96,Country Again,Thomas Rhett,89,73,6
97,Drunk (And I Don't Wanna Go Home),Elle King & Miranda Lambert,92,79,7
98,If You Want To,Lil Baby & Lil Durk,-,99,1
99,Seeing Green,"Nicki Minaj, Drake & Lil Wayne",67,12,4

In [19]:
driver.close()

# Q no 7

7. Scrape the details of Data science recruiters from naukri.com.  Url = https://www.naukri.com/ 

You have to find the following details:
        
        A) Name B) Designation C) Company D) Skills they hire for E) Location
        
        Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and click on search. All this should be done through code

In [1]:
# importing necessary libraries
import pandas as pd
import selenium
import time
from selenium import webdriver


# opening chrome driver
driver=webdriver.Chrome(r'Chromedriver.exe')


# loading the website
driver.get('https://www.naukri.com/')


# clicking on recruiters_tab
recruiters_tab=driver.find_element_by_xpath('//a[@title="Search Recruiters"]')
link=recruiters_tab.get_attribute('href')
driver.get(link)



# inserting data in search tab
search_bar=driver.find_element_by_xpath('//input[@class="sugInp"]')
search_bar.send_keys('Data Science')


# clicking on search button
search_button=driver.find_element_by_id('qsbFormBtn')
search_button.click()


# scrapping the name of the recruiters
name=[]
for i in driver.find_elements_by_xpath('//span[@class="fl ellipsis"]'):
    name.append(i.text)
    
# scrapping the designation
designation=[]
for i in driver.find_elements_by_xpath('//span[@class="ellipsis clr"]'):
    designation.append(i.text)
    
# scrapping the company names
whole_data=[]        # as there is no unoque class for company so taking the whole data as a list and splitting it
for i in driver.find_elements_by_xpath('//p[@class="highlightable"]'):
    whole_data.append(i.text)
company_name=[]
location=[]
for i in whole_data:
    data=i.split('\n')
    try:
        company=data[2]
        company_name.append(company)
        place=data[3]
        location.append(place)
    except IndexError:
        location.append('--')
    
    
# scrapping the skills
skills=[]
for i in driver.find_elements_by_xpath('//div[@class="hireSec highlightable"]'):
    skills.append(i.text)
    
    
# creating dataframe
data_science_recruiters=pd.DataFrame({})
data_science_recruiters['Name']=name
data_science_recruiters['Designation']=designation
data_science_recruiters['Company']=company_name
data_science_recruiters['Skills they hire for']=skills
data_science_recruiters['Location']=location


data_science_recruiters

,Name,Designation,Company,Skills they hire for,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
6,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,Chennai
7,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
8,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",Indore
9,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage...",Bengaluru / Bangalore
10,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad
11,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore
12,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",Mumbai
13,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,"Qlikview, Qlik Sense, Microsoft Azure, Power B...",Pune
14,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm...",Hyderabad / Secunderabad
15,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science",Bhopal
16,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re...",Navi Mumbai
17,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science,Cochin
18,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, Softwar...",Delhi
19,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning...",Hyderabad / Secunderabad
20,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee...",Pune
21,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine...",Pune
22,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc...",Pune
23,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Pune
24,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,"Software Architecture, Vp Engineering, Product...",Bengaluru / Bangalore
25,kumar,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",Bengaluru / Bangalore
26,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing, Machine Learning, Neural Ne...",--
27,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software...",Delhi
28,Priya Khare,Senior Manager,Independent Consultant,"Data Science, Artificial Intelligence, analyti...",Bengaluru / Bangalore
29,Dhruv Dev Dubey,Company Recruitment Head,Confidential,"Server Administartion, Verilog, Vhdl, Digital ...",Bengaluru / Bangalore
30,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",Mysoru / Mysore
31,Radha Manivasagam,HR Executive,Techcovery,"Python, Artificial Intelligence, Machine Learn...",Bengaluru / Bangalore
32,Prateek Kumar,Head,Trisect,"Java, Python, Angularjs, Software Testing, Mac...",Noida
33,Amit Sharma,Consultant,ASCO consulting,"Machine Learning, Artificial Intelligence, Dat...",New Delhi
34,Kanan,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Python, Php, ...",Chennai
35,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,"Relationship Management, Retail Sales, Private...",Aligarh
36,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering",Salt Lake City
37,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Data Science, Big Data Analytics, Digital Mark...",Pune
38,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary",Bengaluru / Bangalore
39,Ankit Sinha,Head Analytics,Suntech Global,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Mumbai
40,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,"Software Development, Business Intelligence, B...",Indore
41,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science, Node.js, Angularjs",Bengaluru / Bangalore
42,Ashwini,Director Global Delivery,MRP Advisers,"Data Science, Media Marketing, Resource Planni...",MYSORE
43,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,"Data Analysis, Learning, Data Science, Compute...",Hyderabad / Secunderabad
44,Rajani Nagaraj,HR Manager,WildJasmine,"Java, Hadoop, R, Machine Learning, Spark, Flum...",Bengaluru / Bangalore
45,ROHIT Kumar,Architect,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",Mumbai
46,Amir Chowdhury,Managing Partner,Granular.ai,"Machine Learning, Data Science, Product Manage...",--
47,Shailja Mishra,HR Manager,Certybox Pvt.Ltd.,"consulting, Education Counseling, Educational ...",Noida
48,Sunny Sharma,Managing Director - HR,Western Service Providers,"Software Professionals, Engineering, Technical...",Mumbai
49,Sagar Lama,Company HR Manager,AdView,"Full Stack Developers, Product Manager, Data S...",Bengaluru / Bangalore

In [ ]:
# closing the driver
driver.close()


# Q no 8

Scrape the details of Highest selling novels.

Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare/
    
    You have to find the following details:  A) Book name B) Author name C) Volumes sold D) Publisher E) Genre

In [20]:
# importing necessary libraries
import requests
from bs4 import BeautifulSoup
import numpy as np
import pandas as pd
import time



# requesting page 
page=requests.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')


# getting page content in soup object
soup=BeautifulSoup(page.content)


# getting the table data in table variable
table=soup.find('table',class_='in-article sortable')


# getting the rows data in row
rows=table.find_all('tr')


# getting the data in a list
row_list=[]
for tr in rows:
    td=tr.find_all('td')
    row_data=[i.text for i in td]
    row_list.append(row_data)
    

    
# creating dataframe
books=pd.DataFrame(row_list,columns=['Sr no','Book Name','Author Name','Volumes Sold','Publisher','Genre'])
books.replace('None',np.nan)
books.dropna(inplace=True)
books

,Sr no,Book Name,Author Name,Volumes Sold,Publisher,Genre
2,1,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
3,2,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
4,3,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
5,4,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
6,5,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...,...
97,96,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
98,97,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
99,98,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
100,99,"Lost Boy,The:A Foster Child's Search for the ...","Pelzer, Dave","791,507",Orion,Biography: General
101,100,Jamie's Ministry of Food:Anyone Can Learn to ...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [ ]:
# driver.close()

# Q no 9

. Scrape the details most watched tv series of all time from imdb.com.   Url =  https://www.imdb.com/list/ls095964455/ 
    
    You have to find the following details: A) Name B) Year span C) Genre D) Run time E) Ratings F) Votes

In [22]:
# importing necessary libraries
import pandas as pd
import selenium
import time
from selenium import webdriver
import requests
from bs4 import BeautifulSoup



# initaiting chrome browser
driver=webdriver.Chrome(r'Chromedriver.exe')
time.sleep(3)


# loading the website
driver.get('https://www.imdb.com/list/ls095964455/')
time.sleep(2)



# getting page content using beautifulsoup
page=requests.get('https://www.imdb.com/list/ls095964455/')
soup=BeautifulSoup(page.content)
data=soup.find_all('div',class_="lister-item-content")            # getting all the output in data variable
# declaring empty variables
name=[]
year=[]
genre=[]
runtime=[]
ratings=[]
votes=[]
for i in data:
    temp_name=i.find('a')                 # searching for name
    name.append(temp_name.text)
    temp_year=i.find('span',class_="lister-item-year text-muted unbold")               # searching for year
    year.append(temp_year.text)
    temp_genre=i.find('span',class_="genre")          # searching for genre
    genre.append(temp_genre.text.replace('\n','').strip())
    temp_time=i.find('span',class_="runtime")                   ## searching for time
    runtime.append(temp_time.text)
    temp_rating=i.find('span',class_="ipl-rating-star__rating")       ## searching for ratings
    ratings.append(temp_rating.text)
    #temp_vote=i.find('span',name_="nv")
    #votes.append(temp_vote.text)

    

for i in driver.find_elements_by_xpath('//span[@name="nv"]'):       # # searching for votes
    votes.append(i.text)
    

# creating dataframe

series=pd.DataFrame({})
series['Name']=name
series['Year Span']=year
series['Genre']=genre
series['Time']=time
series['Run Time']=runtime
series['Ratings']=ratings
series['Votes']=votes

series

,Name,Year Span,Genre,Time,Run Time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",<module 'time' (built-in)>,57 min,9.3,"1,823,939"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",<module 'time' (built-in)>,51 min,8.7,"864,284"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",<module 'time' (built-in)>,44 min,8.2,"874,714"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",<module 'time' (built-in)>,60 min,7.6,"262,757"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",<module 'time' (built-in)>,43 min,7.6,"224,125"
...,...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",<module 'time' (built-in)>,42 min,7.5,"44,586"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",<module 'time' (built-in)>,50 min,7.8,"55,088"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",<module 'time' (built-in)>,42 min,8,"167,841"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",<module 'time' (built-in)>,45 min,7.1,"34,899"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",<module 'time' (built-in)>,572 min,8.6,"191,529"

In [24]:
# closing the driver
driver.close()

# Q NO 10

. Details of Datasets from UCI machine learning repositories.       Url = https://archive.ics.uci.edu/     
    
    You have to find the following details: 
        A) Dataset name 
        B) Data type
        C) Task 
        D) Attribute type
        E) No of instances
        F) No of attribute
        G) Year
        
        Note: - from the home page you have to go to the Show All Dataset page through code.

In [27]:
# importing necessary libraries
import pandas as pd
import time
import requests
from bs4 import BeautifulSoup
from selenium import webdriver


# opening chrome browser
driver=webdriver.Chrome(r'chromedriver.exe')
time.sleep(4)


#loading the website
driver.get('https://archive.ics.uci.edu/')
time.sleep(3)


# clicking on view_all_Dataset
view_all_dataset_button=driver.find_element_by_xpath('//span[@class="whitetext"]//a//font//b')
view_all_dataset_button.click()


# getting the current url
url=driver.current_url


# passing the url to the page variable for continuing further scrapping in Beautiful soup
page=requests.get(url)
soup=BeautifulSoup(page.content)


# getting all the table content in table variable
table=soup.find('table',border='1')


# getting all the data in rows form
rows=table.find('tr')


# separating data from rows into differnt columns
row_list=[]
for tr in table:
    td=tr.find_all('td')                         # finding all the table data in a variable
    row_data=[i.text for i in td]
    row_list.append(row_data)
    
    
# creating dataFrame
df=pd.DataFrame(row_list,columns=['name','Unnamed','Dataset name ','DataType','Task','Attribute type','No of Instances','No of Attribute','Year'])


df.drop(['name','Unnamed'],axis=1,inplace=True)      # because there is one table embedded in the dataset name column resulting in the repetition of same dataset name so dropping the repeated column
df.drop(df.index[0])                               # index zero is containing the column names that we require but it is not in proper order so dropping it out
df                                  # displaying the result

,Dataset name,DataType,Task,Attribute type,No of Instances,No of Attribute,Year
0,Default Task,Attribute Types,# Instances,# Attributes,Year,None,None
1,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
2,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
3,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
4,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
...,...,...,...,...,...,...,...
182,Acute Inflammations,Multivariate,Classification,"Categorical, Integer",120,6,2009
183,Wine Quality,Multivariate,"Classification, Regression",Real,4898,12,2009
184,URL Reputation,"Multivariate, Time-Series",Classification,"Integer, Real",2396130,3231961,2009
185,p53 Mutants,Multivariate,Classification,Real,16772,5409,2010
186,Parkinsons Telemonitoring,None,None,None,None,None,None