# Assignment Question No 1

Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data. This task will be done in following steps: 
        
      1. first get the webpage https://www.naukri.com/ 
            
      2. Enter “Data Analyst” in “Skill,Designations,Companies” field and enter “Bangalore” in “enter the location” field.
            
      3. Then click the search button.
            
      4. Then scrape the data for the first 10 jobs results you get. 
            
      5. Finally create a dataframe of the scraped data.

In [1]:
# importing necessary webdrivers
import selenium
import pandas as pd
import time
from selenium import webdriver

In [2]:
# activating the chromedriver
driver=webdriver.Chrome(r'chromedriver.exe')

In [3]:
#loading the website
driver.get('https://www.naukri.com/')

In [4]:
# asking the user for the data to be searched
input1=input("Enter the Job Title you want to search")
input2=input("Enter the Location ")

Enter the Job Title you want to searchData Analyst
Enter the Location Banglore

In [5]:
# entering the job title in skill, designation companies
search_bar1=driver.find_element_by_id('qsb-keyword-sugg')
search_bar1.clear()
search_bar1.send_keys(input1)

In [6]:
# entering the location inn enter location columns
search_bar2=driver.find_element_by_id('qsb-location-sugg')
search_bar2.clear()
search_bar2.send_keys(input2)

In [7]:
# clicking on the search button
search_button=driver.find_element_by_xpath('//div[@class="search-btn"]')
search_button.click()

In [8]:
# now we will extract all the job titles by xpath and append it in a list
Job_Title=[]
for i in driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']"):
    Job_Title.append(i.text)
Job_Title

['Data Scientist / Data Analyst -Business Analyst',
 'Hiring For Data Analyst/ MIS Reporting Analyst - Bangalore',
 'Data Analyst - Informatica MDM',
 'Assistant Vice President - MIS & Reporting ( Business Data Analyst)',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Senior/Regular Business Analyst / Data Analyst',
 'Data Analyst',
 'Hiring For Data Analyst @ Flipkart on Contract',
 'Senior Data Analyst',
 'Data Analyst',
 'Cybersecurity Data Analyst',
 'Business Data Analyst - MIS & Reporting',
 'Data Analyst / Business Analyst -',
 'Business Data Analyst',
 'Data Analyst']

In [9]:
# now we will extract all the experience by xpath and append it in a list
Experience=[]
for i in driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']//span"):
    Experience.append(i.text)
Experience

['0-3 Yrs',
 '2-4 Yrs',
 '6-9 Yrs',
 '12-18 Yrs',
 '3-6 Yrs',
 '3-6 Yrs',
 '4-9 Yrs',
 '4-8 Yrs',
 '3-6 Yrs',
 '1-3 Yrs',
 '3-6 Yrs',
 '1-3 Yrs',
 '2-6 Yrs',
 '2-5 Yrs',
 '5-10 Yrs',
 '5-8 Yrs',
 '3-8 Yrs',
 '1-5 Yrs',
 '5-10 Yrs',
 '1-6 Yrs']

In [10]:
# now we will extract all the Company_Name by xpath and append it in a list
Company_Name=[]                         # defining an empty list for storing company name
temp=''                                  # defining an empty string as company names contains reviews and \n 
for i in driver.find_elements_by_xpath('//div[@class="mt-7 companyInfo subheading lh16"]'):
    temp=i.text.split('\n')                # temporary storing the data by spliting it through \n
    Company_Name.append(temp[0])          # appending only company name
Company_Name

['Inflexion Analytix Private Limited',
 'PHARMACEUTICAL RESEARCH ASSOCIATES INDIA Pvt Ltd',
 'Shell India Markets Private Limited',
 'INTERTRUSTVITEOS CORPORATE AND FUND SERVICES PVT. LTD.',
 'Myntra Designs Pvt. Ltd.',
 'Myntra Designs Pvt. Ltd.',
 'Myntra Designs Pvt. Ltd.',
 'Myntra Designs Pvt. Ltd.',
 'Myntra Designs Pvt. Ltd.',
 'SA Tech Software (I) Pvt. Ltd.',
 'Luxoft',
 'Flipkart Internet Private Limited',
 'Flipkart Internet Private Limited',
 'Flipkart Internet Private Limited',
 'IBM India Pvt. Limited',
 'Huawei Technologies India Pvt Ltd',
 'INTERTRUST GROUP',
 'LatentView Analytics Private Limited',
 'ALSTOM India Limited',
 'Udaan']

In [11]:
# now we will extract all the Company_Name by xpath and append it in a list
Location=[]
for i in driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]'):
    Location.append(i.text)
Location

['Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Mumbai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Kolkata, Pune, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Mumbai, Bangalore/Bengaluru',
 'Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [12]:
# saving the information in the DataFrame
import pandas as pd
Ten_Job_in_Banglore=pd.DataFrame({})
Ten_Job_in_Banglore['Job Title']=Job_Title[0:10]
Ten_Job_in_Banglore['Company Name']=Company_Name[0:10]
Ten_Job_in_Banglore['Experience']=Experience[0:10]
Ten_Job_in_Banglore['Location']=Location[0:10]

In [13]:
Ten_Job_in_Banglore

,Job Title,Company Name,Experience,Location
0,Data Scientist / Data Analyst -Business Analyst,Inflexion Analytix Private Limited,0-3 Yrs,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/..."
1,Hiring For Data Analyst/ MIS Reporting Analyst...,PHARMACEUTICAL RESEARCH ASSOCIATES INDIA Pvt Ltd,2-4 Yrs,Bangalore/Bengaluru
2,Data Analyst - Informatica MDM,Shell India Markets Private Limited,6-9 Yrs,Bangalore/Bengaluru
3,Assistant Vice President - MIS & Reporting ( B...,INTERTRUSTVITEOS CORPORATE AND FUND SERVICES P...,12-18 Yrs,"Mumbai, Bangalore/Bengaluru"
4,Data Analyst,Myntra Designs Pvt. Ltd.,3-6 Yrs,Bangalore/Bengaluru
5,Data Analyst,Myntra Designs Pvt. Ltd.,3-6 Yrs,Bangalore/Bengaluru
6,Data Analyst,Myntra Designs Pvt. Ltd.,4-9 Yrs,Bangalore/Bengaluru
7,Data Analyst,Myntra Designs Pvt. Ltd.,4-8 Yrs,Bangalore/Bengaluru
8,Data Analyst,Myntra Designs Pvt. Ltd.,3-6 Yrs,Bangalore/Bengaluru
9,Data Analyst,SA Tech Software (I) Pvt. Ltd.,1-3 Yrs,"Kolkata, Pune, Chennai, Bangalore/Bengaluru, D..."

In [14]:
# closing the google chrome
driver.close()

# Assignment Question No 2

Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, full job-description. You have to scrape first 10 jobs data. This task will be done in following steps: 
        
        1. first get the webpage https://www.naukri.com/
            
      2. Enter “Data Scientist” in “Skill,Designations,Companies” field and enter “Bangalore” in “enter the location” field.
            
       3. Then click the search button. 
            
        4. Then scrape the data for the first 10 jobs results you get. 
          
        5. Finally create a dataframe of the scraped data.

In [15]:
# importing necessary libraries

import pandas as pd
import selenium
import time
from selenium import webdriver

In [16]:
# activating the chrome driver
driver=webdriver.Chrome(r'Chromedriver.exe')

In [17]:
# loading the website
driver.get('https://www.naukri.com/')

In [18]:
# seeking input from user
input1=input("Enter the job title you want to search")
input2=input('Enter the location')

Enter the job title you want to searchData Scientist
Enter the locationBanglore

In [19]:
# sending the inputs to the seacrh bar
search_bar1=driver.find_element_by_id('qsb-keyword-sugg')
search_bar1.clear()
search_bar1.send_keys(input1)

In [20]:
# sending the inputs to the seacrh bar
search_bar2=driver.find_element_by_id('qsb-location-sugg')
search_bar2.clear()
search_bar2.send_keys(input2)

In [21]:
# clickng the search button
search_button=driver.find_element_by_xpath('//div[@class="search-btn"]')
search_button.click()
time.sleep(10)

In [22]:
# now we will extract all the job titles and job description simultaneously by xpath and append it in a list
Job_Title=[]           #empty list
job_description_url=[]           #empty list
for i in driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']"):
    Job_Title.append(i.text)             #appending data
    job_description_url.append(i.get_attribute('href'))          #appending data
Job_Title

['Data Scientist / Data Analyst -Business Analyst',
 'Senior Data Scientist, Modeling',
 'Data Scientist - IBM Garage',
 'Big Data - Data Scientist',
 'Specialist I - Data Scientist',
 'Lead Data Scientist',
 'SDE Lead Data Scientist-L3',
 'Computational Design Lead Data Scientist-L3',
 'Hiring For DATA Scientist - ON Contract Basis (3-6 Months)',
 'Senior Data Scientist - Chatbot & NLP',
 'Senior Data Scientist - Chatbot & NLP',
 'Sr. Data Scientist',
 'Senior Data Scientist',
 'Senior Data Scientist - Kinara Capital',
 'Senior Data Scientist, Marketing Analytics',
 'Data Scientist',
 'Hiring For Lead data Scientist For Bangalore location',
 'Principal Data Scientist',
 'we are hiring For the role of data engineer\\data scientist',
 'Data Scientist']

In [23]:
job_description_url

['https://www.naukri.com/job-listings-data-scientist-data-analyst-business-analyst-inflexion-analytix-private-limited-mumbai-hyderabad-secunderabad-pune-gurgaon-gurugram-chennai-bangalore-bengaluru-0-to-3-years-100521000368?src=jobsearchDesk&sid=16214112556287288&xp=1&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-modeling-nielsen-kolkata-gurgaon-gurugram-bangalore-bengaluru-vadodara-baroda-mumbai-all-areas-3-to-7-years-280421003878?src=jobsearchDesk&sid=16214112556287288&xp=2&px=1',
 'https://www.naukri.com/job-listings-data-scientist-ibm-garage-ibm-india-pvt-limited-noida-hyderabad-secunderabad-bangalore-bengaluru-5-to-8-years-040521900448?src=jobsearchDesk&sid=16214112556287288&xp=3&px=1',
 'https://www.naukri.com/job-listings-big-data-data-scientist-xoriant-solutions-pvt-ltd-kochi-cochin-indore-hyderabad-secunderabad-pune-ahmedabad-bangalore-bengaluru-mumbai-all-areas-1-to-3-years-130521005018?src=jobsearchDesk&sid=16214112556287288&xp=4&px=1',
 'https://www.naukri.com/job-listings-specialist-i-data-scientist-philips-india-limited-bangalore-bengaluru-4-to-7-years-170521500993?src=jobsearchDesk&sid=16214112556287288&xp=5&px=1',
 'https://www.naukri.com/job-listings-lead-data-scientist-intel-technology-india-pvt-ltd-bangalore-bengaluru-6-to-10-years-070521500578?src=jobsearchDesk&sid=16214112556287288&xp=6&px=1',
 'https://www.naukri.com/job-listings-sde-lead-data-scientist-l3-huawei-technologies-india-pvt-ltd-bangalore-bengaluru-5-to-8-years-120521901434?src=jobsearchDesk&sid=16214112556287288&xp=7&px=1',
 'https://www.naukri.com/job-listings-computational-design-lead-data-scientist-l3-huawei-technologies-india-pvt-ltd-bangalore-bengaluru-5-to-8-years-120521901329?src=jobsearchDesk&sid=16214112556287288&xp=8&px=1',
 'https://www.naukri.com/job-listings-hiring-for-data-scientist-on-contract-basis-3-6-months-globaledx-learning-and-technology-solution-pvt-ltd-hyderabad-secunderabad-bangalore-bengaluru-mumbai-all-areas-3-to-8-years-170521003581?src=jobsearchDesk&sid=16214112556287288&xp=9&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-chatbot-nlp-gojek-tech-bangalore-bengaluru-3-to-7-years-060521500524?src=jobsearchDesk&sid=16214112556287288&xp=10&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-chatbot-nlp-go-jek-india-bangalore-bengaluru-5-to-10-years-050521500478?src=jobsearchDesk&sid=16214112556287288&xp=11&px=1',
 'https://www.naukri.com/job-listings-sr-data-scientist-valiance-analytics-private-limited-bangalore-bengaluru-delhi-ncr-6-to-8-years-180521006944?src=jobsearchDesk&sid=16214112556287288&xp=12&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-kinara-financial-private-limited-bangalore-bengaluru-5-to-10-years-100521500393?src=jobsearchDesk&sid=16214112556287288&xp=13&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-kinara-capital-kinara-financial-private-limited-bangalore-bengaluru-5-to-10-years-060521500976?src=jobsearchDesk&sid=16214112556287288&xp=14&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-marketing-analytics-hudsons-bay-company-bangalore-bengaluru-2-to-4-years-140521501771?src=jobsearchDesk&sid=16214112556287288&xp=15&px=1',
 'https://www.naukri.com/job-listings-data-scientist-applied-materials-india-private-limited-bangalore-bengaluru-2-to-4-years-070521901521?src=jobsearchDesk&sid=16214112556287288&xp=16&px=1',
 'https://www.naukri.com/job-listings-hiring-for-lead-data-scientist-for-bangalore-location-societe-generale-global-solution-centre-pvt-ltd-bangalore-bengaluru-5-to-9-years-130521000901?src=jobsearchDesk&sid=16214112556287288&xp=17&px=1',
 'https://www.naukri.com/job-listings-principal-data-scientist-netapp-india-private-limited-bangalore-bengaluru-10-to-15-years-070521906988?src=jobsearchDesk&sid=16214112556287288&xp=18&px=1',
 'https://www.naukri.com/job-listings-we-are-hiring-for-the-role-of-data-engineer-data-scientist-collabera-technologies-private-limited-bangalore-bengaluru-5-to-8-years-170521006288?src=jobsearchDesk&sid=16214112556287288&xp=19&px=1',
 'https://www.naukri.com/job-listings-data-scientist-techknowledgey-pte-ltd-bangalore-bengaluru-0-to-2-years-070521003138?src=jobsearchDesk&sid=16214112556287288&xp=20&px=1']

In [24]:
# now we will extract all the Company_Name by xpath and append it in a list
Company_Name=[]                         # defining an empty list for storing company name
temp=''                                  # defining an empty string as company names contains reviews and \n 
for i in driver.find_elements_by_xpath('//div[@class="mt-7 companyInfo subheading lh16"]'):
    temp=i.text.split('\n')                # temporary storing the data by spliting it through \n
    Company_Name.append(temp[0])          # appending only company name
Company_Name

['Inflexion Analytix Private Limited',
 'Nielsen',
 'IBM India Pvt. Limited',
 'Xoriant Solutions Pvt Ltd',
 'Philips India Limited',
 'Intel Technology India Pvt Ltd',
 'Huawei Technologies India Pvt Ltd',
 'Huawei Technologies India Pvt Ltd',
 'GlobalEdx Learning and Technology Solution Pvt Ltd',
 'Gojek Tech',
 'GO-JEK India',
 'VALIANCE ANALYTICS PRIVATE LIMITED',
 'Kinara Financial Private Limited',
 'Kinara Financial Private Limited',
 'Hudsons Bay Company',
 'Applied Materials',
 'Societe Generale',
 'NetApp',
 'COLLABERA',
 'TechKnowledgey Pte Ltd']

In [25]:
# now we will extract all the Location by xpath and append it in a list
Location=[]
for i in driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]'):
    Location.append(i.text)
Location

['Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Chennai, Bangalore/Bengaluru',
 'Kolkata, Gurgaon/Gurugram, Bangalore/Bengaluru, Vadodara, Mumbai (All Areas)',
 'Noida, Hyderabad/Secunderabad, Bangalore/Bengaluru',
 'Kochi/Cochin, Indore, Hyderabad/Secunderabad, Pune, Ahmedabad, Bangalore/Bengaluru, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Bangalore/Bengaluru, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Delhi / NCR',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [26]:
# importing Exception
from selenium.common.exceptions import NoSuchElementException

###### retrieving job description from url links

In [27]:
import numpy as np
job_descript=[]                        # defining an empty list for storing the description

for i in job_description_url[0:10]:
    driver.get(i)                         # getting each url individually 
    time.sleep(3)
    try:
        job_descr= driver.find_element_by_xpath("//section[@class='job-desc']")
        job_descript.append(job_descr.text.replace('\n',' '))
    except NoSuchElementException :            # using exceptions to append - on empty job description
        job_descript.append('-')

In [28]:
len(job_descript)

10

In [29]:
# storing data in a DataFrame
import pandas as pd
Job_in_Banglore=pd.DataFrame({})
Job_in_Banglore['Job-title']=Job_Title[0:10]
Job_in_Banglore['job-location']=Location[0:10]
Job_in_Banglore['Company Name']=Company_Name[0:10]
Job_in_Banglore['full-job-description']=job_descript

In [30]:
Job_in_Banglore

,Job-title,job-location,Company Name,full-job-description
0,Data Scientist / Data Analyst -Business Analyst,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/...",Inflexion Analytix Private Limited,Job description Job Role : Data Scientist/Data...
1,"Senior Data Scientist, Modeling","Kolkata, Gurgaon/Gurugram, Bangalore/Bengaluru...",Nielsen,Job description We wont say we can predict the...
2,Data Scientist - IBM Garage,"Noida, Hyderabad/Secunderabad, Bangalore/Benga...",IBM India Pvt. Limited,-
3,Big Data - Data Scientist,"Kochi/Cochin, Indore, Hyderabad/Secunderabad, ...",Xoriant Solutions Pvt Ltd,-
4,Specialist I - Data Scientist,Bangalore/Bengaluru,Philips India Limited,Job description Responsibilities and Key Resul...
5,Lead Data Scientist,Bangalore/Bengaluru,Intel Technology India Pvt Ltd,Job description We are seeking an outstandin...
6,SDE Lead Data Scientist-L3,Bangalore/Bengaluru,Huawei Technologies India Pvt Ltd,Job description Business & Team overview: Foun...
7,Computational Design Lead Data Scientist-L3,Bangalore/Bengaluru,Huawei Technologies India Pvt Ltd,Job description Business & Team overview: Foun...
8,Hiring For DATA Scientist - ON Contract Basis ...,"Hyderabad/Secunderabad, Bangalore/Bengaluru, M...",GlobalEdx Learning and Technology Solution Pvt...,"Job description Dear Aspirant, Greetings from..."
9,Senior Data Scientist - Chatbot & NLP,Bangalore/Bengaluru,Gojek Tech,Job description What You Will Do Work with Dat...

In [ ]:
driver.close()             # closing the google chrome

# Assignment Question No 3

 In this question you have to scrape data using the filters available on the webpage as shown below:

You have to use the location and salary filter. You have to scrape data for “Data Scientist” designation for first 10 job results. You have to scrape the job-title, job-location, company_name, experience_required.

The location filter to be used is “Delhi/NCR” The salary filter to be used is “3-6” lakhs 

The task will be done as shown in the below steps:
    
    1. first get the webpage https://www.naukri.com/
        
    2. Enter “Data Scientist” in “Skill,Designations,Companies” field . 
    
    3. Then click the search button. 4. Then apply the location filter and salary filter by checking the respective boxes 
    
    4. Then scrape the data for the first 10 jobs results you get.
        
    5. Finally create a dataframe of the scraped data.

In [33]:
# importing necessary libraries

import pandas as pd
import selenium
import time
from selenium import webdriver

In [34]:
# activating the chromedriver
driver=webdriver.Chrome(r'chromedriver.exe')

In [35]:
#loading the website
driver.get('https://www.naukri.com/')

In [36]:
# asking the user for the data to be searched
input1=input("Enter the Job Title you want to search")

Enter the Job Title you want to searchData Scientist

In [37]:
# sending input to 
search_bar1=driver.find_element_by_id('qsb-keyword-sugg')
search_bar1.clear()
search_bar1.send_keys(input1)

In [38]:
# clicking on search button to search data scientist job in delhi
search_button=driver.find_element_by_xpath('//div[@class="search-btn"]')
search_button.click()

In [40]:
# clicking on :"Delhi /NCR " location filter
select_delhi=driver.find_element_by_xpath('//span[@title="Delhi / NCR"]')
select_delhi.click()

In [41]:
# clicking on :"0-3 lakhs " salary filter
select_salary=driver.find_element_by_xpath('//span[@title="0-3 Lakhs"]')
select_salary.click()

In [42]:
# now we will extract all the job titles by xpath and append it in a list
Job_Title=[]
for i in driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']"):
    Job_Title.append(i.text)
Job_Title

['Excellent opportunity For Data Scientist',
 'Senior Manager - Data Scientist',
 'Data Scientist - Machine Learning/ NLP',
 'GCP Presales AIML Architect & Data Scientist (Solution Expert / Archit',
 'Data Scientist',
 'Data Scientist Intern',
 'Senior Marketing Data Analyst',
 'Developers, Data Scientists, Web Designers, Android Developers',
 'Need Fresher For Data Analyst Role-Delhi',
 'Need Fresher For Data Analyst Role-Delhi',
 'Data Science Intern',
 'Data Science Intern',
 'Data Analyst',
 'Junior Data Analyst',
 'Data Science Intern - DataTrained',
 'Data Science Trainee',
 'Data Analyst',
 'MIS Executive / Data Analyst',
 'Data Analyst',
 'Data Analyst']

In [43]:
# now we will extract all the Location by xpath and append it in a list
Location=[]
for i in driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]'):
    Location.append(i.text)
Location

['Noida, Bangalore/Bengaluru',
 'Delhi / NCR',
 'Gurgaon/Gurugram',
 'Noida',
 'Noida',
 'Noida',
 'Gurgaon/Gurugram',
 'Noida',
 'Kolkata, Pune, Ahmedabad, Delhi / NCR, Mumbai (All Areas)',
 'Kolkata, Pune, Ahmedabad, Delhi / NCR, Mumbai (All Areas)',
 'Noida, Bangalore/Bengaluru',
 'Noida, Bangalore/Bengaluru',
 'New Delhi, Gurgaon/Gurugram',
 'Delhi',
 'Noida, Bangalore/Bengaluru, Delhi / NCR',
 'Kolkata, Thane, Hyderabad/Secunderabad, Pune, Chennai, Ahmedabad, Delhi / NCR, Bangalore/Bengaluru, Mumbai (All Areas)',
 'Gurgaon',
 'Gurgaon, haryana',
 'Noida, Greater Noida',
 'Delhi / NCR']

In [44]:
# now we will extract all the Company_Name by xpath and append it in a list
Company_Name=[]                         # defining an empty list for storing company name
temp=''                                  # defining an empty string as company names contains reviews and \n 
for i in driver.find_elements_by_xpath('//div[@class="mt-7 companyInfo subheading lh16"]'):
    temp=i.text.split('\n')                # temporary storing the data by spliting it through \n
    Company_Name.append(temp[0])          # appending only company name
Company_Name

['NEC CORPORATION INDIA PRIVATE LIMITED',
 'Sunshine Teahouse Pvt. Ltd.',
 'TalPro',
 'Lecan Solutions Pvt Ltd',
 'Gauge Data Solutions Pvt Ltd',
 'Salasar New Age Technologies',
 'Tide Software',
 'Cogmac Technologies',
 'MNC',
 'MNC',
 'DataTrained',
 'DataTrained',
 'Right Step Consulting',
 'SiCureMi Healthcare Technologies',
 'Data Trained Education',
 'QuickXpert Infotech',
 'Netomi',
 'Stark Industries',
 'Imperial Training & Consulting',
 'Unlimited Unnati Pvt. Ltd.']

In [45]:
# now we will extract all the experience by xpath and append it in a list
Experience=[]
for i in driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']//span"):
    Experience.append(i.text)
Experience

['3-7 Yrs',
 '6-8 Yrs',
 '2-6 Yrs',
 '6-11 Yrs',
 '2-7 Yrs',
 '0-2 Yrs',
 '0-4 Yrs',
 '1-5 Yrs',
 '0-1 Yrs',
 '0-1 Yrs',
 '0-2 Yrs',
 '0-2 Yrs',
 '0-5 Yrs',
 '0-2 Yrs',
 '0-1 Yrs',
 '0-5 Yrs',
 '0-1 Yrs',
 '0-3 Yrs',
 '0-2 Yrs',
 '0-1 Yrs']

In [46]:
print(len(Job_Title),len(Company_Name),len(Location),len(Experience))

20 20 20 20

In [47]:
# creating the DataFrane
import pandas as pd
Jobs=pd.DataFrame({})
Jobs['Job-title']=Job_Title[0:10]
Jobs['job-location']=Location[0:10]
Jobs['Company Name']=Company_Name[0:10]
Jobs['Experience_required']=Experience[0:10]

In [48]:
Jobs

,Job-title,job-location,Company Name,Experience_required
0,Excellent opportunity For Data Scientist,"Noida, Bangalore/Bengaluru",NEC CORPORATION INDIA PRIVATE LIMITED,3-7 Yrs
1,Senior Manager - Data Scientist,Delhi / NCR,Sunshine Teahouse Pvt. Ltd.,6-8 Yrs
2,Data Scientist - Machine Learning/ NLP,Gurgaon/Gurugram,TalPro,2-6 Yrs
3,GCP Presales AIML Architect & Data Scientist (...,Noida,Lecan Solutions Pvt Ltd,6-11 Yrs
4,Data Scientist,Noida,Gauge Data Solutions Pvt Ltd,2-7 Yrs
5,Data Scientist Intern,Noida,Salasar New Age Technologies,0-2 Yrs
6,Senior Marketing Data Analyst,Gurgaon/Gurugram,Tide Software,0-4 Yrs
7,"Developers, Data Scientists, Web Designers, An...",Noida,Cogmac Technologies,1-5 Yrs
8,Need Fresher For Data Analyst Role-Delhi,"Kolkata, Pune, Ahmedabad, Delhi / NCR, Mumbai ...",MNC,0-1 Yrs
9,Need Fresher For Data Analyst Role-Delhi,"Kolkata, Pune, Ahmedabad, Delhi / NCR, Mumbai ...",MNC,0-1 Yrs

In [49]:
# closing the chrome driver
driver.close()

# Assignment Question No 4

Q4: Write a python program to scrape data for first 10 job results for Data scientist Designation in Noida location. You have to scrape company_name, No. of days ago when job was posted, Rating of the company. 
    This task will be done in following steps: 
        
    
    1. first get the webpage https://www.glassdoor.co.in/index.htm
            
    2. Enter “Data Scientist” in “Job Title,Keyword,Company” field and enter “Noida” in “location” field. 
            
    3. Then click the search button. 
    
    4. Then scrape the data for the first 10 jobs results you get in the above shown page
    
    5. Finally create a dataframe of the scraped data

In [1]:
# importing necessary libraries

import pandas as pd
import selenium
import time
from selenium import webdriver

In [2]:
# activating the chromedriver
driver=webdriver.Chrome(r'chromedriver.exe')

In [3]:
#loading the website
#driver.get('https://www.glassdoor.co.in/index.html')
# here the website needs a login so I am entering the path after logging in 

driver.get('https://www.glassdoor.co.in/index.htm')

In [4]:
# asking the user for the data to be searched

input1=input("Enter the Job Title you want to search")
input2=input("Enter the Location")

Enter the Job Title you want to searchData Scientist
Enter the LocationNoida

In [5]:
# sending input to the website
search_bar1=driver.find_element_by_id('sc.keyword')
search_bar1.clear()
search_bar1.send_keys(input1)

In [6]:
# sending input to the website
search_bar2=driver.find_element_by_id('sc.location')
search_bar2.clear()
search_bar2.send_keys(input2)

In [9]:
# clicking the search button
search_button=driver.find_element_by_xpath('//button[@data-test="search-bar-submit"]')
search_button.click()
time.sleep(3)

In [10]:
# now we will extract all the Company Name by xpath and append it in a list
Company_Name=[]
for i in driver.find_elements_by_xpath('//div[@class="d-flex justify-content-between align-items-start"]'):
    Company_Name.append(i.text)
Company_Name

['Bechtel',
 'Boston Consulting Group',
 'Ericsson',
 'Lantern Digital Services',
 'Sparkbpl',
 'Priority Vendor',
 'Biz2Credit Inc',
 'xtLytics',
 'Mansha Solutions',
 'Skyjobs hr services',
 'Gauge Data Solutions',
 'Techlive',
 'MasterCard',
 'SearchUrCollege',
 'WishFin',
 'NatWest Group',
 'Siemens Technology and Services Private Limited',
 'Salasar New Age Technologies',
 'Webhelp',
 'Team Computers',
 'Mahajan Imaging',
 'Fitfyles',
 'Ank Aha',
 'Analytics Vidhya',
 'Profisor Services',
 'Saffron Consultancy Services',
 'Sentieo',
 'Nihilent',
 'Futures and Careers',
 'Transorg Analytics',
 'Axslogic']

In [11]:
No_of_days=[]
for i in driver.find_elements_by_xpath('//div[@class="d-flex align-items-end pl-std css-mi55ob"]'):
    No_of_days.append(i.text)
    
No_of_days

['16d',
 '24h',
 '24h',
 '7d',
 '14d',
 '13d',
 '22d',
 '24h',
 '9d',
 '7d',
 '13d',
 '20d',
 '22d',
 '13d',
 '25d',
 '2d',
 '1d',
 '26d',
 '7d',
 '1d',
 '13d',
 '13d',
 '13d',
 '13d',
 '13d',
 '13d',
 '15d',
 '22d',
 '25d',
 '2d',
 '12d']

In [12]:
print(len(No_of_days),len(Company_Name))

31 31

In [13]:
#it was observed that not all the columns were having rating so its necessary to add '-' character where there is no rating

rating=driver.find_elements_by_xpath('//div[@class="d-flex flex-column css-x75kgh e1rrn5ka3"]')

In [14]:

rating

[<selenium.webdriver.remote.webelement.WebElement (session="3178fcb1f4cac0578a6c28563fd86e61", element="8211e22e-bbc1-4f52-8440-9142e3a0f669")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3178fcb1f4cac0578a6c28563fd86e61", element="e565d4b9-b3cf-4ca0-b74d-533c6174074a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3178fcb1f4cac0578a6c28563fd86e61", element="a5045396-fdab-4d07-af08-04f63d85d6b4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3178fcb1f4cac0578a6c28563fd86e61", element="34ef56e7-2a3b-43a0-8b82-a37b970b569a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3178fcb1f4cac0578a6c28563fd86e61", element="a6dcad9c-77f9-4019-99fe-675a3b6eae04")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3178fcb1f4cac0578a6c28563fd86e61", element="ae455eff-8ef8-40e2-aa75-fde18744a41f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3178fcb1f4cac0578a6c28563fd86e61", element="06f029ce-0096-4ba0-9050-e93d62e8cadc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3178fcb1f4cac0578a6c28563fd86e61", element="6746abc9-8a13-4242-aad2-c32ae5f16665")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3178fcb1f4cac0578a6c28563fd86e61", element="03f3e85d-8837-4324-9abc-b3dfe205bb31")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3178fcb1f4cac0578a6c28563fd86e61", element="1abe3e89-76d5-4b32-aaa6-3235b668645c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3178fcb1f4cac0578a6c28563fd86e61", element="84e4cf10-74fc-468c-a5fb-19c61f143005")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3178fcb1f4cac0578a6c28563fd86e61", element="59198e11-303b-459c-babe-b3ee1f96760d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3178fcb1f4cac0578a6c28563fd86e61", element="952a1e46-764b-4317-8bfc-7ee139c37e9d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3178fcb1f4cac0578a6c28563fd86e61", element="d5d6a221-8efb-4b02-a7be-e588c005f44c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3178fcb1f4cac0578a6c28563fd86e61", element="927feefb-852a-4645-b4c0-865968afe6fc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3178fcb1f4cac0578a6c28563fd86e61", element="a24ca2b9-36c6-4ec9-a65a-c316af99136f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3178fcb1f4cac0578a6c28563fd86e61", element="9d604ce9-671e-4476-89bb-864cf43146ab")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3178fcb1f4cac0578a6c28563fd86e61", element="c7aada22-c14d-4ac6-a951-87820875d773")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3178fcb1f4cac0578a6c28563fd86e61", element="3ac01cf1-21ef-4361-8cb3-70fe24c0e1c3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3178fcb1f4cac0578a6c28563fd86e61", element="65f9d7b5-7ab7-4bc0-8b51-a4ee4527adf2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3178fcb1f4cac0578a6c28563fd86e61", element="b4d0f60d-297c-498b-acb9-ce5d43d9c9d9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3178fcb1f4cac0578a6c28563fd86e61", element="435ea144-547c-4f56-b972-89b9ed62d786")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3178fcb1f4cac0578a6c28563fd86e61", element="79f7974c-6155-42f8-9178-bd77aac70065")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3178fcb1f4cac0578a6c28563fd86e61", element="038509ba-c428-4e82-9ed8-2bf2befa6f91")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3178fcb1f4cac0578a6c28563fd86e61", element="143fe825-3345-4af5-bc0f-70e955bc840c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3178fcb1f4cac0578a6c28563fd86e61", element="c81f2c2b-93fc-466b-88ba-15a1c327766a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3178fcb1f4cac0578a6c28563fd86e61", element="22eed064-2784-41ec-b214-752a6ea9ffc1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3178fcb1f4cac0578a6c28563fd86e61", element="ab113dbc-0299-4ae6-8913-3de2b9b393f4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3178fcb1f4cac0578a6c28563fd86e61", element="cd065b70-5259-4527-bdb5-4aff07042211")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3178fcb1f4cac0578a6c28563fd86e61", element="401eb695-08c2-4301-854d-38d0a7378172")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3178fcb1f4cac0578a6c28563fd86e61", element="549f8ba2-8901-4432-8801-32255df992c2")>]

In [19]:
ratings=[]
for i in rating:
    try:
        ratings.append(i.text)
    except NoSuchElementException:
        ratings.append('--')

In [20]:
ratings

['4.0',
 '4.1',
 '4.1',
 '',
 '',
 '3.7',
 '3.8',
 '',
 '',
 '',
 '3.1',
 '5.0',
 '',
 '',
 '3.8',
 '',
 '4.1',
 '',
 '',
 '4.1',
 '4.0',
 '',
 '4.0',
 '3.7',
 '4.5',
 '',
 '',
 '3.6',
 '',
 '2.3',
 '4.3']

In [21]:
#creating dataframe
Job_In_Noida=pd.DataFrame({})
Job_In_Noida['Company Name']=Company_Name[0:10]
Job_In_Noida['No_of_days_ago_job_was_posted']=No_of_days[0:10]
Job_In_Noida['Ratings']=ratings[0:10]

In [22]:
Job_In_Noida

               Company Name No_of_days_ago_job_was_posted Ratings
0                   Bechtel                           16d     4.0
1   Boston Consulting Group                           24h     4.1
2                  Ericsson                           24h     4.1
3  Lantern Digital Services                            7d
4                  Sparkbpl                           14d
5           Priority Vendor                           13d     3.7
6            Biz2Credit Inc                           22d     3.8
7                  xtLytics                           24h
8          Mansha Solutions                            9d
9       Skyjobs hr services                            7d

In [23]:
driver.close()

# Assignment Question No 5

Q5: Write a python program to scrape the salary data for Data Scientist designation in Noida location.
    You have to scrape Company name, Number of salaries, Average salary, Min salary, Max Salary. 
    
    The above task will be, done as shown in the below steps: 
        
            1. first get the webpage https://www.glassdoor.co.in/Salaries/index.htm 
            
            2. Enter “Data Scientist” in Job title field and “Noida” in location field. 
            
            3. Click the search button. 
            
            4. After that you will land on the below page  You have to scrape whole data from this webpage
            
            5. Scrape data for first 10 companies. Scrape the min salary, max salary, company name, Average salary and rating of the company.
            
          6.Store the data in a dataframe. Note that all of the above steps have to be done by coding only and not manually

In [2]:
# importing necessary libraries

import pandas as pd
import selenium
import time
from selenium import webdriver

In [3]:
# activating the chromedriver
driver=webdriver.Chrome(r'chromedriver.exe')

In [4]:
# loading the website
driver.get('https://www.glassdoor.co.in/Salaries/index.htm')

In [5]:
# asking the user for the data to be searched
input1=input("Enter the Job Title you want to search")
input2=input("Enter the Location")

Enter the Job Title you want to searchData Scientist
Enter the LocationNoida

In [6]:
# sending input to the website
search_box1=driver.find_element_by_id('KeywordSearch')
search_box1.clear()
search_box1.send_keys(input1)

In [7]:
# sending input to the website
search_box2=driver.find_element_by_id('LocationSearch')
search_box2.clear()
search_box2.send_keys(input2)

In [8]:
# clicking the search button
search_button=driver.find_element_by_id('HeroSearchButton')
search_button.click()
time.sleep(10)

In [9]:
# now we will extract all the Company Name by xpath and append it in a list
Company_Name=[]
for i in driver.find_elements_by_xpath('//p[@class="m-0 "]'):
    Company_Name.append(i.text)
Company_Name

['Tata Consultancy Services',
 'Accenture',
 'IBM',
 'Ericsson-Worldwide',
 'Delhivery',
 'UnitedHealth Group',
 'Valiance Solutions',
 'ZS Associates',
 'EXL Service',
 'Optum Global Solutions',
 'Innovaccer',
 'Cognizant Technology Solutions',
 'Optum',
 'Tech Mahindra',
 'OYO',
 'Nagarro',
 'dunnhumby',
 'Vidooly Media Tech',
 'Algo8.ai',
 'Amazon']

In [10]:
# now we will extract all the Minimum salaries and maximum salaries by xpath and append it in a list

Min_sal =[]                                                                       # to store minimum salary
max_sal=[]                                                                        # to store maximum salary
salary=''                                                                         # empty sting 
for i in driver.find_elements_by_xpath('//div[@class="common__RangeBarStyle__values d-flex justify-content-between "]'):
    salary=(i.text.split('\n'))                                                    # splitting salary in a string
    Min_sal.append(salary[0])                                                      # appending salary in minimum salary list
    max_sal.append(salary[1])                                                     # appending salary in maximum salary list

In [11]:
print(Min_sal)

['₹343K', '₹577K', '₹586K', '₹355K', '₹450K', '₹1,069K', '₹502K', '₹202K', '₹575K', '₹1,014K', '₹620K', '₹792K', '₹807K', '₹405K', '₹971K', '₹400K', '₹817K', '₹12K', '₹86K', '₹772K']

In [12]:
print(max_sal)

['₹1,095K', '₹2,213K', '₹2,730K', '₹1,613K', '₹11,622K', '₹1,520K', '₹1,465K', '₹1,809K', '₹1,520K', '₹2,149K', '₹1,695K', '₹1,263K', '₹1,986K', '₹1,703K', '₹1,883K', '₹1,124K', '₹2,006K', '₹63K', '₹1,358K', '₹2,091K']

In [13]:
# now we will extract all the Average Salary  by xpath and append it in a list
Average_salary=[]
for i in driver.find_elements_by_xpath('//div[@class="col-2 d-none d-md-flex flex-row justify-content-end"]'):
    Average_salary.append(i.text.replace('\n',' per'))
Average_salary

['₹ 6,11,228 per/yr',
 '₹ 11,46,533 per/yr',
 '₹ 8,97,795 per/yr',
 '₹ 7,38,057 per/yr',
 '₹ 12,39,781 per/yr',
 '₹ 13,36,142 per/yr',
 '₹ 8,15,192 per/yr',
 '₹ 11,35,221 per/yr',
 '₹ 11,44,243 per/yr',
 '₹ 14,13,288 per/yr',
 '₹ 12,07,110 per/yr',
 '₹ 10,07,410 per/yr',
 '₹ 13,18,851 per/yr',
 '₹ 10,52,718 per/yr',
 '₹ 14,13,078 per/yr',
 '₹ 9,61,653 per/yr',
 '₹ 11,00,000 per/yr',
 '₹ 15,887 per/mo',
 '₹ 6,75,000 per/yr',
 '₹ 15,00,000 per/yr']

In [14]:
# now we will extract all the Average Salary  by xpath and append it in a list
Number_of_salary=[]
for i in driver.find_elements_by_xpath('//p[@class="css-1uyte9r css-1kuy7z7 m-0 "]'):
    Number_of_salary.append(i.text.replace('\n',' per'))
Number_of_salary

['16 salaries',
 '14 salaries',
 '14 salaries',
 '14 salaries',
 '14 salaries',
 '11 salaries',
 '9 salaries',
 '8 salaries',
 '8 salaries',
 '8 salaries',
 '8 salaries',
 '6 salaries',
 '6 salaries',
 '5 salaries',
 '5 salaries',
 '5 salaries',
 '5 salaries',
 '5 salaries',
 '5 salaries',
 '4 salaries']

In [15]:
# creating the dataframe
import pandas as pd
Salary_data=pd.DataFrame({})
Salary_data['Company Name']=Company_Name[0:10]
Salary_data['Number of Salaries']=Number_of_salary[0:10]
Salary_data['Average Salary']=Average_salary[0:10]
Salary_data['Min Salary']=Min_sal[0:10]
Salary_data['Max Salary']=max_sal[0:10]

In [16]:
Salary_data

,Company Name,Number of Salaries,Average Salary,Min Salary,Max Salary
0,Tata Consultancy Services,16 salaries,"₹ 6,11,228 per/yr",₹343K,"₹1,095K"
1,Accenture,14 salaries,"₹ 11,46,533 per/yr",₹577K,"₹2,213K"
2,IBM,14 salaries,"₹ 8,97,795 per/yr",₹586K,"₹2,730K"
3,Ericsson-Worldwide,14 salaries,"₹ 7,38,057 per/yr",₹355K,"₹1,613K"
4,Delhivery,14 salaries,"₹ 12,39,781 per/yr",₹450K,"₹11,622K"
5,UnitedHealth Group,11 salaries,"₹ 13,36,142 per/yr","₹1,069K","₹1,520K"
6,Valiance Solutions,9 salaries,"₹ 8,15,192 per/yr",₹502K,"₹1,465K"
7,ZS Associates,8 salaries,"₹ 11,35,221 per/yr",₹202K,"₹1,809K"
8,EXL Service,8 salaries,"₹ 11,44,243 per/yr",₹575K,"₹1,520K"
9,Optum Global Solutions,8 salaries,"₹ 14,13,288 per/yr","₹1,014K","₹2,149K"

In [17]:
# closing the chrome
driver.close()

# Assignment Question No 6

Q6 : Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes: 
        
        1. Brand
        
        2. Product Description
        
        3. Price
        
        4. Discount %

 To scrape the data you have to go through following steps:
            
         1. Go to flipkart webpage by url   https://www.flipkart.com/ 
                
                
        2. Enter “sunglasses” in the search field where “search for products, brands and more” is written and click the search icon
                
                
        3. after that you will reach to a webpage having a lot of sunglasses. From this page you can scrap the required data as usual. 
                
         4. after scraping data from the first page, go to the “Next” Button at the bottom of the page , then click on it 
                
                
         5. Now scrape data from this page as usual 

            
        6. repeat this until you get data for 100 sunglasses

In [1]:
# importing necessary libraries

import pandas as pd
import selenium
import time
from selenium import webdriver

In [2]:
# activating the chromedriver
driver=webdriver.Chrome(r'chromedriver.exe')

In [3]:
# loading the website
driver.get('  https://www.flipkart.com/ ')

In [4]:
# asking the user for the data to be searched
input1=input("Enter the name of product that you want to buy")

Enter the name of product that you want to buySunglasses

In [5]:
# inserting the text in the search box and clicking on the search button

search_box1=driver.find_element_by_xpath('//input[@class="_3704LK"]')
search_box1.clear()
search_box1.send_keys(input1)

In [6]:
search_button=driver.find_element_by_xpath('//button[@type="submit"]')
search_button.click()

In [9]:
 #Importing Exception
from selenium.common.exceptions import NoSuchElementException

In [12]:
# now we will extract all the details of sunglasses by xpath and append it in a list by splitting the information
 
Brand=[]                                                  # empty list for saving brand name
Product_Description=[]                                    # empty list for saving product description
price=[]                                                  # empty list for saving price
for j in range(0,3):
    for i in driver.find_elements_by_xpath('//div[@class="_2B099V"]'):
        sunglass=(i.text.split('\n'))
        Brand.append(sunglass[0])
        Product_Description.append(sunglass[1])
        price.append(sunglass[2])
    try:
        driver.find_element_by_xpath('//a[@class="_1LKTO3"][2]').click()          # xpath of next button
        time.sleep(4)
    except:
        driver.find_element_by_xpath('//a[@class="_1LKTO3"]').click()
        time.sleep(4)

In [13]:
print(len(Brand))
Brand

120

['kingsunglasses',
 'NuVew',
 'Fastrack',
 'ROZZETTA CRAFT',
 'Fastrack',
 'PHENOMENAL',
 'Fastrack',
 'Fastrack',
 'PIRASO',
 'DEIXELS',
 'ROZZETTA CRAFT',
 'HIPPON',
 'PHENOMENAL',
 'Villain',
 'NuVew',
 'Fastrack',
 'Singco India',
 'DEIXELS',
 'Singco India',
 'ROYAL SON',
 'Fastrack',
 'Fastrack',
 'ROZZETTA CRAFT',
 'LIZA ANGEL',
 'ROZZETTA CRAFT',
 'Fastrack',
 'GANSTA',
 'Fastrack',
 'Fastrack',
 'Royaltail',
 'Singco India',
 'PHENOMENAL',
 'hipe',
 'Spexra',
 'ROZZETTA CRAFT',
 'elegante',
 'Silver Kartz',
 'ROYAL SON',
 'ROZZETTA CRAFT',
 'LIZA ANGEL',
 'ROZZETTA CRAFT',
 'Fastrack',
 'Singco India',
 'LIZA ANGEL',
 'ROYAL SON',
 'hipe',
 'PIRASO',
 'hipe',
 'PHENOMENAL',
 'AISLIN',
 'Fastrack',
 'SRPM',
 'ROYAL SON',
 'AISLIN',
 'elegante',
 'ROYAL SON',
 'hipe',
 'Flizz',
 'ROZZETTA CRAFT',
 'ROYAL SON',
 'Fastrack',
 'PHENOMENAL',
 'GANSTA',
 'AISLIN',
 'ROYAL SON',
 'elegante',
 'ROZZETTA CRAFT',
 'hipe',
 'Fastrack',
 'AISLIN',
 'ROZZETTA CRAFT',
 'Fastrack',
 'Fastrack',
 'NuVew',
 'Villain',
 'DEIXELS',
 'ROYAL SON',
 'hipe',
 'GANSTA',
 'AISLIN',
 'ROZZETTA CRAFT',
 'shah collections',
 'Fastrack',
 'EYEWEARLABS',
 'DEIXELS',
 'GANSTA',
 'GANSTA',
 'Crackers',
 'Fravy',
 'EYEWEARLABS',
 'Fastrack',
 'Fastrack',
 'elegante',
 'EYEWEARLABS',
 'ROYAL SON',
 'Fastrack',
 'PHENOMENAL',
 'AISLIN',
 'hipe',
 'EYEWEARLABS',
 'ROZZETTA CRAFT',
 'Flizz',
 'AISLIN',
 'EYEWEARLABS',
 'Badfella',
 'GANSTA',
 'ROYAL SON',
 'Fastrack',
 'Fastrack',
 'EYEWEARLABS',
 'PHENOMENAL',
 'DEIXELS',
 'ROYAL SON',
 'EYEWEARLABS',
 'ROYAL SON',
 'hipe',
 'Fastrack',
 'GANSTA',
 'Singco',
 'EYEWEARLABS']

In [14]:
print(len(Product_Description))
Product_Description

120

['Mirrored, UV Protection Wayfarer, Wayfarer, Wayfarer, W...',
 'UV Protection, Gradient Cat-eye Sunglasses (63)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Aviator, Wayfarer Sunglasses (Free Size)',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'UV Protection Wayfarer Sunglasses (55)',
 'UV Protection, Mirrored Retro Square Sunglasses (53)',
 'Others Retro Square Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection, Riding Glasses, Others Aviator, Wayfarer...',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (49)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection, Others, UV Protection, Polarized Wayfare...',
 'UV Protection, Riding Glasses Rectangular Sunglasses (F...',
 'UV Protection Wayfarer Sunglasses (56)',
 'UV Protection Aviator Sunglasses (57)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'Mirrored, Riding Glasses, Others Sports Sunglasses (50)',
 'UV Protection, Mirrored Retro Square Sunglasses (Free S...',
 'UV Protection, Mirrored Round Sunglasses (Free Size)',
 'UV Protection, Polarized Round Sunglasses (50)',
 'Gradient, UV Protection Round Sunglasses (Free Size)',
 'UV Protection Wrap-around Sunglasses (Free Size)',
 'UV Protection Oval Sunglasses (56)',
 'UV Protection Wayfarer Sunglasses (55)',
 'UV Protection Shield Sunglasses (54)',
 'UV Protection, Mirrored, Riding Glasses Retro Square Su...',
 'UV Protection Shield Sunglasses (54)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Round Sunglasses (Free Size)',
 'Gradient, Riding Glasses, Night Vision Round, Wayfarer,...',
 'Mirrored Aviator Sunglasses (55)',
 'UV Protection, Mirrored Aviator Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (54)',
 'Mirrored Wayfarer Sunglasses (55)',
 'UV Protection Clubmaster Sunglasses (Free Size)',
 'UV Protection Shield, Wayfarer Sunglasses (61)',
 'UV Protection Shield Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (53)',
 'UV Protection, Gradient Wayfarer Sunglasses (55)',
 'UV Protection, Mirrored Shield, Wayfarer Sunglasses (61...',
 'UV Protection Wrap-around Sunglasses (Free Size)',
 'Polarized Sports Sunglasses (68)',
 'Mirrored, UV Protection, Gradient Round Sunglasses (55)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'Mirrored Aviator Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (57)',
 'UV Protection, Mirrored Clubmaster Sunglasses (Free Siz...',
 'Night Vision, Riding Glasses Wayfarer Sunglasses (53)',
 'UV Protection, Gradient Aviator Sunglasses (61)',
 'UV Protection Rectangular Sunglasses (58)',
 'UV Protection Round Sunglasses (Free Size)',
 'Mirrored, UV Protection Round Sunglasses (Free Size)',
 'UV Protection, Night Vision, Gradient, Mirrored Round, ...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Gradient Oval Sunglasses (58)',
 'Polarized, UV Protection Aviator Sunglasses (Free Size)',
 'Mirrored Aviator Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Mirrored Cat-eye Sunglasses (68)',
 'Others Retro Square Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (58)',
 'UV Protection Sports Sunglasses (Free Size)',
 'UV Protection, Gradient Wayfarer Sunglasses (53)',
 'UV Protection, Others Aviator Sunglasses (58)',
 'UV Protection, Gradient Round Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'Polarized Rectangular Sunglasses (70)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (57)',
 'UV Protection, Gradient Wayfarer Sunglasses (53)',
 'UV Protection Aviator Sunglasses (55)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'Polarized Wayfarer Sunglasses (55)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Shield Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'Polarized, UV Protection Aviator Sunglasses (60)',
 'Polarized, UV Protection Aviator Sunglasses (58)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection, Mirrored, Gradient Retro Square Sunglass...',
 'UV Protection, Gradient Cat-eye Sunglasses (58)',
 'Gradient, UV Protection Round Sunglasses (Free Size)',
 'Polarized Retro Square Sunglasses (52)',
 'UV Protection, Gradient Retro Square Sunglasses (62)',
 'UV Protection, Polarized Rectangular Sunglasses (Free S...',
 'UV Protection, Gradient Oval Sunglasses (58)',
 'Polarized Retro Square Sunglasses (57)',
 'Polarized, UV Protection Retro Square Sunglasses (53)',
 'UV Protection, Night Vision, Riding Glasses Aviator Sun...',
 'Polarized, UV Protection Round Sunglasses (49)',
 'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Polarized Wayfarer Sunglasses (56)',
 'Polarized Aviator Sunglasses (56)',
 'UV Protection, Mirrored Retro Square Sunglasses (53)',
 'Polarized, UV Protection, Riding Glasses Wayfarer Sungl...',
 'Mirrored Aviator Sunglasses (58)',
 'Polarized Rectangular Sunglasses (54)',
 'Mirrored Aviator Sunglasses (Free Size)',
 'UV Protection, Night Vision, Riding Glasses, Gradient, ...',
 'UV Protection Round Sunglasses (52)',
 'UV Protection, Mirrored, Gradient Wayfarer Sunglasses (...',
 'UV Protection, Others Aviator Sunglasses (32)',
 'Polarized Retro Square Sunglasses (54)']

In [15]:
price  
# in price column the original price , the discounted price and the price offered all are included so we will use split
#function to split the information we want

['₹299₹1,49980% off',
 '₹375₹1,54575% off',
 '₹630₹79921% off',
 '₹499₹2,22577% off',
 '₹758₹89915% off',
 '₹399₹1,99980% off',
 '₹733₹89918% off',
 '₹621₹79922% off',
 '₹349₹1,59978% off',
 '₹213₹1,19982% off',
 '₹404₹1,99979% off',
 '₹251₹1,19979% off',
 '₹399₹1,99980% off',
 '₹599₹75020% off',
 '₹215₹78572% off',
 '₹674₹89925% off',
 '₹209₹69970% off',
 '₹209₹79973% off',
 '₹339₹1,19971% off',
 '₹664₹1,99966% off',
 '₹837₹8996% off',
 '₹638₹79920% off',
 '₹499₹2,25277% off',
 '₹209₹99979% off',
 '₹449₹2,22579% off',
 '₹759₹89915% off',
 '₹281₹1,99985% off',
 '₹1,085₹1,29916% off',
 '₹1,123₹1,29913% off',
 '₹699₹1,59956% off',
 '₹249₹1,49983% off',
 '₹399₹1,99980% off',
 '₹219₹1,59886% off',
 '₹198₹79074% off',
 '₹449₹1,99577% off',
 '₹499₹1,49966% off',
 '₹284₹1,19976% off',
 '₹265₹1,29979% off',
 '₹499₹2,55580% off',
 '₹259₹79967% off',
 '₹499₹2,55580% off',
 '₹1,115₹1,29914% off',
 '₹205₹99979% off',
 '₹199₹49960% off',
 '₹379₹1,49974% off',
 '₹199₹99980% off',
 '₹250₹1,59984% off',
 '₹219₹99978% off',
 '₹319₹1,99884% off',
 '₹445₹1,87576% off',
 '₹759₹89915% off',
 '₹189₹49962% off',
 '₹217₹99978% off',
 '₹445₹1,87576% off',
 '₹499₹1,49966% off',
 '₹1,234₹2,49950% off',
 '₹210₹1,46685% off',
 '₹399₹2,19981% off',
 '₹499₹2,25677% off',
 '₹399₹1,49973% off',
 '₹559₹79930% off',
 '₹319₹1,99884% off',
 '₹207₹1,79988% off',
 '₹625₹2,15070% off',
 '₹474₹1,49968% off',
 '₹199₹99980% off',
 '₹399₹1,44672% off',
 '₹210₹99978% off',
 '₹758₹89915% off',
 '₹495₹1,52567% off',
 '₹449₹1,99977% off',
 '₹1,780₹1,99910% off',
 '₹576₹79927% off',
 '₹345₹1,54577% off',
 '₹599₹75020% off',
 '₹200₹49959% off',
 '₹499₹1,49966% off',
 '₹319₹1,89983% off',
 '₹263₹1,99986% off',
 '₹1,045₹3,69971% off',
 '₹449₹2,66583% off',
 '₹331₹1,69980% off',
 '₹759₹89915% off',
 '₹1,598₹2,49936% off',
 '₹200₹1,19983% off',
 '₹337₹1,99983% off',
 '₹328₹1,99983% off',
 '₹170₹99982% off',
 '₹289₹1,49980% off',
 '₹1,598₹2,49936% off',
 '₹777₹99922% off',
 '₹761₹89915% off',
 '₹449₹1,49970% off',
 '₹1,698₹3,49951% off',
 '₹711₹1,99964% off',
 '₹1,148₹1,29911% off',
 '₹259₹1,99887% off',
 '₹485₹1,52568% off',
 '₹219₹1,29883% off',
 '₹1,598₹2,49936% off',
 '₹499₹1,99975% off',
 '₹279₹1,49981% off',
 '₹475₹1,52568% off',
 '₹1,498₹3,49957% off',
 '₹269₹99973% off',
 '₹292₹1,99985% off',
 '₹664₹1,99966% off',
 '₹777₹99922% off',
 '₹759₹89915% off',
 '₹1,698₹3,49951% off',
 '₹399₹1,99980% off',
 '₹236₹59960% off',
 '₹399₹1,49973% off',
 '₹1,598₹2,49936% off',
 '₹399₹1,49973% off',
 '₹210₹1,29883% off',
 '₹1,232₹1,2995% off',
 '₹281₹1,99985% off',
 '₹349₹1,99982% off',
 '₹1,598₹2,49936% off']

In [16]:
# separating the price and discount% from the price list
 
Price=[]                             # empty list for  appending the price
discount=[]                          # empty list for appending the discount
for i in price:
    pr=i.split('₹')                  # temporary string to save the prices
    ds=i[-7:]                        # slicing the string to save the discount in ds variable
    Price.append(pr[1])              # appending the pr in list
    discount.append(ds)              # appending the ds in list

In [17]:
print(len(Price))
Price

120

['299',
 '375',
 '630',
 '499',
 '758',
 '399',
 '733',
 '621',
 '349',
 '213',
 '404',
 '251',
 '399',
 '599',
 '215',
 '674',
 '209',
 '209',
 '339',
 '664',
 '837',
 '638',
 '499',
 '209',
 '449',
 '759',
 '281',
 '1,085',
 '1,123',
 '699',
 '249',
 '399',
 '219',
 '198',
 '449',
 '499',
 '284',
 '265',
 '499',
 '259',
 '499',
 '1,115',
 '205',
 '199',
 '379',
 '199',
 '250',
 '219',
 '319',
 '445',
 '759',
 '189',
 '217',
 '445',
 '499',
 '1,234',
 '210',
 '399',
 '499',
 '399',
 '559',
 '319',
 '207',
 '625',
 '474',
 '199',
 '399',
 '210',
 '758',
 '495',
 '449',
 '1,780',
 '576',
 '345',
 '599',
 '200',
 '499',
 '319',
 '263',
 '1,045',
 '449',
 '331',
 '759',
 '1,598',
 '200',
 '337',
 '328',
 '170',
 '289',
 '1,598',
 '777',
 '761',
 '449',
 '1,698',
 '711',
 '1,148',
 '259',
 '485',
 '219',
 '1,598',
 '499',
 '279',
 '475',
 '1,498',
 '269',
 '292',
 '664',
 '777',
 '759',
 '1,698',
 '399',
 '236',
 '399',
 '1,598',
 '399',
 '210',
 '1,232',
 '281',
 '349',
 '1,598']

In [18]:
print(len(discount))
discount

120

['80% off',
 '75% off',
 '21% off',
 '77% off',
 '15% off',
 '80% off',
 '18% off',
 '22% off',
 '78% off',
 '82% off',
 '79% off',
 '79% off',
 '80% off',
 '20% off',
 '72% off',
 '25% off',
 '70% off',
 '73% off',
 '71% off',
 '66% off',
 '96% off',
 '20% off',
 '77% off',
 '79% off',
 '79% off',
 '15% off',
 '85% off',
 '16% off',
 '13% off',
 '56% off',
 '83% off',
 '80% off',
 '86% off',
 '74% off',
 '77% off',
 '66% off',
 '76% off',
 '79% off',
 '80% off',
 '67% off',
 '80% off',
 '14% off',
 '79% off',
 '60% off',
 '74% off',
 '80% off',
 '84% off',
 '78% off',
 '84% off',
 '76% off',
 '15% off',
 '62% off',
 '78% off',
 '76% off',
 '66% off',
 '50% off',
 '85% off',
 '81% off',
 '77% off',
 '73% off',
 '30% off',
 '84% off',
 '88% off',
 '70% off',
 '68% off',
 '80% off',
 '72% off',
 '78% off',
 '15% off',
 '67% off',
 '77% off',
 '10% off',
 '27% off',
 '77% off',
 '20% off',
 '59% off',
 '66% off',
 '83% off',
 '86% off',
 '71% off',
 '83% off',
 '80% off',
 '15% off',
 '36% off',
 '83% off',
 '83% off',
 '83% off',
 '82% off',
 '80% off',
 '36% off',
 '22% off',
 '15% off',
 '70% off',
 '51% off',
 '64% off',
 '11% off',
 '87% off',
 '68% off',
 '83% off',
 '36% off',
 '75% off',
 '81% off',
 '68% off',
 '57% off',
 '73% off',
 '85% off',
 '66% off',
 '22% off',
 '15% off',
 '51% off',
 '80% off',
 '60% off',
 '73% off',
 '36% off',
 '73% off',
 '83% off',
 '95% off',
 '85% off',
 '82% off',
 '36% off']

In [19]:
import pandas as pd
Sunglasses=pd.DataFrame({})
Sunglasses['Brand_Name']=Brand[0:100]
Sunglasses['Product_Description']=Product_Description[0:100]
Sunglasses['Price']=Price[0:100]
Sunglasses['Discount%']=discount[0:100]

In [20]:
Sunglasses

,Brand_Name,Product_Description,Price,Discount%
0,kingsunglasses,"Mirrored, UV Protection Wayfarer, Wayfarer, Wa...",299,80% off
1,NuVew,"UV Protection, Gradient Cat-eye Sunglasses (63)",375,75% off
2,Fastrack,UV Protection Rectangular Sunglasses (Free Size),630,21% off
3,ROZZETTA CRAFT,UV Protection Retro Square Sunglasses (Free Size),499,77% off
4,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),758,15% off
...,...,...,...,...
95,Fastrack,UV Protection Aviator Sunglasses (58),"1,148",11% off
96,PHENOMENAL,"UV Protection, Mirrored, Gradient Retro Square...",259,87% off
97,AISLIN,"UV Protection, Gradient Cat-eye Sunglasses (58)",485,68% off
98,hipe,"Gradient, UV Protection Round Sunglasses (Free...",219,83% off
99,EYEWEARLABS,Polarized Retro Square Sunglasses (52),"1,598",36% off

In [21]:
driver.close()

# Assignment Question No 7

Q7: Scrape 100 reviews data from flipkart.com for iphone11 phone.
    
    You have to go the link: https://www.flipkart.com/apple-iphone-11-black-64-gb-includesearpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC TSVZAXUHGREPBFGI&marketplace. When you will open the above link you will reach to the below shown webpage.

As shown in the above page you have to scrape the tick marked attributes. 
These are 

1. Rating  

2. Review_summary    

3. Full review You have to scrape this data for first 100 reviews

In [22]:
# importing necessary libraries

import pandas as pd
import selenium
import time
from selenium import webdriver

In [23]:
# activating the chrome driver
driver=webdriver.Chrome(r'Chromedriver.exe')

In [24]:
# loading the website
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb-includesearpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC TSVZAXUHGREPBFGI&marketplace")

In [25]:
# clicking on the review button

more_reviews=driver.find_element_by_xpath('//div[@class="_3UAT2v _16PBlm"]')
more_reviews.click()
time.sleep(4)

In [26]:
from selenium.common.exceptions import NoSuchElementException

In [28]:
# instead of collecting data of each page individually and instead of collecting every elements data individually here I have merged
#the all codes in a single code
rating=[]
revieW_summary=[]
full_review=[]
p=1

for i in range(0,10):
    for k in driver.find_elements_by_xpath('//p[@class="_2-N8zT"]'):
        revieW_summary.append(k.text)
    for l in driver.find_elements_by_xpath('//div[@class="t-ZTKy"]/div'):
        full_review.append(l.text.replace("\n",' '))
    try:
        driver.find_element_by_xpath('//a[@class="_1LKTO3"][2]').click()          # xpath of next button
        time.sleep(4)
    except:
        driver.find_element_by_xpath('//a[@class="_1LKTO3"]').click()

In [29]:
# As we are on 10th page because of above code, now we will again go on first page
# loading the website
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb-includesearpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC TSVZAXUHGREPBFGI&marketplace")

In [30]:
# clicking on the review button

more_reviews=driver.find_element_by_xpath('//div[@class="_3UAT2v _16PBlm"]')
more_reviews.click()
time.sleep(4)

In [31]:
# using url list to find first 100 ratings
from selenium.common.exceptions import NoSuchElementException

rating=[]
for i in range(0,10):                             # iterating url list

    for j in driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]'):
        rating.append(j.text)   
    for k in driver.find_elements_by_xpath('//div[@class="_3LWZlK _1rdVr6 _1BLPMq"]'):
        rating.append(k.text)
    try:
        driver.find_element_by_xpath('//a[@class="_1LKTO3"][2]').click()          # xpath of next button
        time.sleep(4)
    except:
        driver.find_element_by_xpath('//a[@class="_1LKTO3"]').click()
   
    time.sleep(5)

In [32]:
print(len(rating),len(revieW_summary),len(full_review))

100 100 100

In [33]:
# creating the DataFrame
import pandas as pd
iphone_review_table=pd.DataFrame({})
iphone_review_table['Rating']=rating
iphone_review_table['Review_summary']=revieW_summary
iphone_review_table['full summary']=full_review

In [34]:
iphone_review_table

,Rating,Review_summary,full summary
0,5,Perfect product!,Iphone is just awesome.. battery backup is ver...
1,5,Worth every penny,It’s been almost a month since I have been usi...
2,5,Terrific,Really worth of money. i just love it. It is t...
3,5,Simply awesome,"Excellent camera, good performance, no lag. Th..."
4,4,Nice product,Awesome Phone. Slightly high price but worth. ...
...,...,...,...
95,4,Good quality product,"Awesome camera, smooth and fast UI, display is..."
96,5,Classy product,I write this review after using a week this iP...
97,3,Not recommended at all,They are selling cheep quality items. There is...
98,5,Does the job,phone is good but in display is 720p lcd in th...
99,1,Excellent,A perfect phone and a good battery super camer...

In [35]:
# closing the chrome
driver.close()

# Assignment Question No 8

Q8: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field. 
    
    You have to scrape 4 attributes of each sneaker : 
        
        1. Brand 
        
        2. Product Description 
        
        3. Price
        
        4. discount %

In [47]:
# importing libraries
import selenium
import pandas as pd
import time

#importing selenium webdriver
from selenium import webdriver

In [48]:
# activating the chrome browser
driver=webdriver.Chrome(r'chromedriver.exe')

In [49]:
# loading the website
driver.get('  https://www.flipkart.com/ ')
time.sleep(5)

In [50]:
# asking the user for the data to be searched
input1='sneakers'

In [51]:
# inserting the text in the search box and clicking on the search button

search_box1=driver.find_element_by_xpath('//input[@class="_3704LK"]')
search_box1.clear()
search_box1.send_keys(input1)

In [52]:
# clicking on the search button 

search_button=driver.find_element_by_xpath('//button[@class="L0Z3Pu"]')
search_button.click()

In [53]:
# now we will extract all the details of sneakers by xpath and append it in a list by splitting the information
 
Brand=[]                                                  # empty list for saving brand name
Product_Description=[]                                    # empty list for saving product description
price=[]                                                  # empty list for saving price
for j in range(0,3):
    for i in driver.find_elements_by_xpath('//div[@class="_2B099V"]'):
        sneakers=(i.text.split('\n'))
        Brand.append(sneakers[0])
        Product_Description.append(sneakers[1])
        price.append(sneakers[2])
    driver.find_element_by_xpath('//a[@class="_1LKTO3"]').click()          # xpath of next button
    time.sleep(4)

In [54]:
print(len(Brand))
Brand

120

['PEHANOSA',
 'bluemaker',
 'Robbie jones',
 'Numenzo',
 'ORICUM',
 'Robbie jones',
 'Stefano Rads',
 'HOTSTYLE',
 'Shoes Bank',
 'Echor',
 'VIPSJAZZY',
 'BRUTON',
 'aadi',
 'SHURAB',
 'Birde',
 '"trend"',
 'Robbie jones',
 'VORII',
 'bluemaker',
 'Robbie jones',
 'SCATCHITE',
 '3SIX5',
 'Numenzo',
 'BRUTON',
 'restinfoot',
 'Magnolia',
 'Kraasa',
 'T-ROCK',
 'Zsyto',
 'Rising Wolf',
 'World Wear Footwear',
 'World Wear Footwear',
 'Numenzo',
 'BRUTON',
 'World Wear Footwear',
 'Svpanther',
 'SPARX',
 'believe',
 'SPARX',
 'Bucik',
 'HOTSTYLE',
 'World Wear Footwear',
 'PUMA',
 'player world',
 'SPARX',
 'Birde',
 'Axter',
 'Zorth',
 'Ktiz',
 'GUSTO',
 'Walkstyle',
 'T-ROCK',
 'Baogi',
 'oxpeo',
 'SWIGGY',
 'D-SNEAKERZ',
 'Raftar',
 'Kraasa',
 'VISTAARA',
 'Kizaar',
 'Jokatoo',
 'SPARX',
 'bluemaker',
 'ARMADO',
 'T-ROCK',
 'Robbie jones',
 'SPARX',
 'ESSENCE',
 'LEATHERKRAFT',
 'BRUTON',
 'GUSTO',
 'Imcolus',
 'Wen Hawk',
 'Clymb',
 'TR',
 'Zorth',
 'PUMA',
 'Nilatin',
 'ROCKFIELD',
 'FAUSTO',
 'PEHANOSA',
 'bluemaker',
 'Robbie jones',
 'Numenzo',
 'ORICUM',
 'Robbie jones',
 'Stefano Rads',
 'HOTSTYLE',
 'Shoes Bank',
 'Echor',
 'VIPSJAZZY',
 'BRUTON',
 'aadi',
 'SHURAB',
 'Birde',
 '"trend"',
 'Robbie jones',
 'VORII',
 'bluemaker',
 'well feet',
 'SCATCHITE',
 '3SIX5',
 'Numenzo',
 'Robbie jones',
 'restinfoot',
 'Magnolia',
 'Kraasa',
 'T-ROCK',
 'Zsyto',
 'BRUTON',
 'World Wear Footwear',
 'World Wear Footwear',
 'Numenzo',
 'Rising Wolf',
 'World Wear Footwear',
 'Svpanther',
 'SPARX',
 'believe',
 'SPARX',
 'Bucik']

In [55]:
print(len(Product_Description))
Product_Description

120

['Sneakers For Men',
 'Sneakers For Men',
 'Casual Sneakers Shoes For Men Sneakers For Men',
 'Sneakers For Men',
 'Combo pack of 2 casual sneaker shoes for men Sneakers F...',
 'Sneakers For Men',
 'Classy Sneakers For Men',
 'Sneakers Sneakers For Men',
 "White Sneaker For Men's/Boy's Sneakers For Men",
 'shoes for boys Sneakers For Men',
 'Sneakers For Men',
 'Combo Pack Of 4 Canvas Sneakers For Men',
 'Sneakers For Men',
 'Latest Stylish Casual sneakers for men | Lace up lightw...',
 'Combo Pack of 4 Casual Shoes Sneakers For Men',
 'Fashionable casual sneakers shoes for men Sneakers For ...',
 'Casual Sneakers Black Shoes For Men Sneakers For Men',
 'Latest Stylish Casual sneakers for men | Lace up lightw...',
 'casual for men (blue 06) Sneakers For Men',
 'Casual Sneakers Shoes For Men Sneakers For Men',
 'Sneakers Sneakers For Men',
 'ORIFWSH(OR)-1077 Sneakers For Men',
 'Casual Sneaker Sneakers For Men',
 'Men Sports Sneakers For Men',
 'Casual shoes Sneakers For Men',
 'White Sneakers Sneakers For Men',
 'Series 7 Sneakers For Men',
 'Synthetic Leather Casual Partywear Wedding Sneakers Sho...',
 'Sneakers For Men',
 'Sneakers For Men',
 'Men 5014 Latest Collection Stylish Casual Sports Loafer...',
 'Sneakers For Men',
 'Sneakers For Men',
 'Combo Pack of 2 Casual Sneakers For Men',
 '5011-Latest Collection Stylish Casual Loafer Sneakers S...',
 '1002 Sneakers For Men',
 'SM-439 Sneakers For Men',
 'Sneakers for men(black_6) Sneakers For Men',
 'SM-482 Sneakers For Men',
 'Multicolor Casual Shoes Mesh for Men Sneakers For Men',
 'Sneakers Sneakers For Men',
 'Combo Pack of 4 Latest Collection Stylish Casual Loafer...',
 'Anzarun Lite Sneakers For Men',
 'SNEAKERS TYPE CASUEL SHOES Sneakers For Men',
 'SD-323 Sneakers For Men',
 'Combo Pack of 4 Casual Shoes Sneakers For Men',
 'Combo Pack of 2 Latest Collection Stylish Casual Loafer...',
 'Sneakers For Men',
 'Rockstyle Trending Multicolor Ultralight canvas Sport/ ...',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers for man Sneakers For Men',
 'Colourblocked Trending Multicolor Ultralight canvas Spo...',
 'Casual Loafers, Sneakers Shoes for Men Pack of 5 Combo(...',
 "Casual , Partywear Sneakers Shoes For Men's And Boys Wh...",
 'Sneakers For Men',
 'Casuals, Canvas, Partywear Sneakers For Men',
 '489 Black Sneakers For Men',
 'Casual Sneakers For Men',
 'Sneakers For Men',
 'SM-162 Sneakers For Men',
 'casual for men (black 08) Sneakers For Men',
 'casual shoes For Mens Combo(AR)-1658-1619 ( Multicolor-...',
 'Synthetic Leather Casual Sneakers Shoes For Men Sneaker...',
 'Casual Sneakers Shoes For Men Sneakers For Men',
 'SM-322 Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Latest Stylish Casual sneakers for men | Lace up lightw...',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Icon IDP Sneakers For Men',
 'White Sneaker for Men Sneakers For Men',
 'Sneakers For Men',
 'Lace Up Trendy Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Casual Sneakers Shoes For Men Sneakers For Men',
 'Sneakers For Men',
 'Combo pack of 2 casual sneaker shoes for men Sneakers F...',
 'Sneakers For Men',
 'Classy Sneakers For Men',
 'Sneakers Sneakers For Men',
 "White Sneaker For Men's/Boy's Sneakers For Men",
 'shoes for boys Sneakers For Men',
 'Sneakers For Men',
 'Combo Pack Of 4 Canvas Sneakers For Men',
 'Sneakers For Men',
 'Latest Stylish Casual sneakers for men | Lace up lightw...',
 'Combo Pack of 4 Casual Shoes Sneakers For Men',
 'Fashionable casual sneakers shoes for men Sneakers For ...',
 'Casual Sneakers Black Shoes For Men Sneakers For Men',
 'Latest Stylish Casual sneakers for men | Lace up lightw...',
 'casual for men (blue 06) Sneakers For Men',
 'sneaker for mens and boys Sneakers For Men',
 'Sneakers Sneakers For Men',
 'ORIFWSH(OR)-1077 Sneakers For Men',
 'Casual Sneaker Sneakers For Men',
 'Casual Sneakers Shoes For Men Sneakers For Men',
 'Casual shoes Sneakers For Men',
 'White Sneakers Sneakers For Men',
 'Series 7 Sneakers For Men',
 'Synthetic Leather Casual Partywear Wedding Sneakers Sho...',
 'Sneakers For Men',
 'Men Sports Sneakers For Men',
 'Men 5014 Latest Collection Stylish Casual Sports Loafer...',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 '5011-Latest Collection Stylish Casual Loafer Sneakers S...',
 '1002 Sneakers For Men',
 'SM-439 Sneakers For Men',
 'Sneakers for men(black_6) Sneakers For Men',
 'SM-482 Sneakers For Men',
 'Multicolor Casual Shoes Mesh for Men Sneakers For Men']

In [56]:
price  
# in price column the original price , the discounted price and the price offered all are included so we will use split
#function to split the information we want

['₹499₹99950% off',
 '₹449₹99955% off',
 '₹379₹99962% off',
 '₹398₹99960% off',
 '₹377₹99862% off',
 '₹474₹99952% off',
 '₹242₹69965% off',
 '₹283₹49943% off',
 '₹331₹99966% off',
 '₹569₹99943% off',
 '₹419₹99958% off',
 '₹499₹3,49985% off',
 '₹298₹99970% off',
 '₹399₹99960% off',
 '₹842₹1,99657% off',
 '₹426₹1,99978% off',
 '₹428₹99957% off',
 '₹379₹99962% off',
 '₹449₹99955% off',
 '₹379₹99962% off',
 '₹398₹99960% off',
 '₹214₹49957% off',
 '₹539₹99946% off',
 '₹299₹1,29976% off',
 '₹379₹99962% off',
 '₹305₹99969% off',
 '₹416₹99958% off',
 '₹378₹99962% off',
 '₹328₹1,29974% off',
 '₹485₹1,99975% off',
 '₹240₹49951% off',
 '₹240₹49951% off',
 '₹429₹99957% off',
 '₹404₹2,40083% off',
 '₹240₹49951% off',
 '₹515₹99948% off',
 '₹699',
 '₹446₹99955% off',
 '₹975₹1,34927% off',
 '₹568₹1,99971% off',
 '₹299₹49940% off',
 '₹499₹2,64081% off',
 '₹1,975₹2,99934% off',
 '₹447₹1,10059% off',
 '₹631₹74915% off',
 '₹661₹1,99966% off',
 '₹299₹1,36478% off',
 '₹599₹99940% off',
 '₹474₹1,29963% off',
 '₹389₹99961% off',
 '₹509₹1,49966% off',
 '₹449₹99955% off',
 '₹399₹99960% off',
 '₹419₹99958% off',
 '₹719₹2,49571% off',
 '₹367₹65944% off',
 '₹368₹99963% off',
 '₹416₹99958% off',
 '₹279₹99972% off',
 '₹499₹99950% off',
 '₹455₹1,49969% off',
 '₹730₹94923% off',
 '₹449₹99955% off',
 '₹498₹99850% off',
 '₹449₹99955% off',
 '₹474₹99952% off',
 '₹769₹99923% off',
 '₹442₹99955% off',
 '₹299₹99970% off',
 '₹299₹1,29976% off',
 '₹699₹1,29946% off',
 '₹464₹99953% off',
 '₹323₹99967% off',
 '₹309₹99969% off',
 '₹599₹1,99970% off',
 '₹599₹99940% off',
 '₹1,227₹3,29962% off',
 '₹407₹1,29968% off',
 '₹499₹99950% off',
 '₹999',
 '₹499₹99950% off',
 '₹449₹99955% off',
 '₹379₹99962% off',
 '₹398₹99960% off',
 '₹377₹99862% off',
 '₹474₹99952% off',
 '₹242₹69965% off',
 '₹283₹49943% off',
 '₹331₹99966% off',
 '₹569₹99943% off',
 '₹419₹99958% off',
 '₹499₹3,49985% off',
 '₹298₹99970% off',
 '₹399₹99960% off',
 '₹842₹1,99657% off',
 '₹426₹1,99978% off',
 '₹428₹99957% off',
 '₹379₹99962% off',
 '₹449₹99955% off',
 '₹399₹59933% off',
 '₹398₹99960% off',
 '₹214₹49957% off',
 '₹539₹99946% off',
 '₹379₹99962% off',
 '₹379₹99962% off',
 '₹305₹99969% off',
 '₹416₹99958% off',
 '₹378₹99962% off',
 '₹328₹1,29974% off',
 '₹299₹1,29976% off',
 '₹240₹49951% off',
 '₹240₹49951% off',
 '₹429₹99957% off',
 '₹485₹1,99975% off',
 '₹240₹49951% off',
 '₹515₹99948% off',
 '₹699',
 '₹446₹99955% off',
 '₹975₹1,34927% off',
 '₹568₹1,99971% off']

In [57]:
# separating the price and discount% from the price list
 
Price=[]                             # empty list for  appending the price
discount=[]                          # empty list for appending the discount
for i in price:
    pr=i.split('₹')                  # temporary string to save the prices
    ds=i[-7:]                        # slicing the string to save the discount in ds variable
    Price.append(pr[1])              # appending the pr in list
    discount.append(ds)              # appending the ds in list

In [58]:
print(len(discount))
discount

120

['50% off',
 '55% off',
 '62% off',
 '60% off',
 '62% off',
 '52% off',
 '65% off',
 '43% off',
 '66% off',
 '43% off',
 '58% off',
 '85% off',
 '70% off',
 '60% off',
 '57% off',
 '78% off',
 '57% off',
 '62% off',
 '55% off',
 '62% off',
 '60% off',
 '57% off',
 '46% off',
 '76% off',
 '62% off',
 '69% off',
 '58% off',
 '62% off',
 '74% off',
 '75% off',
 '51% off',
 '51% off',
 '57% off',
 '83% off',
 '51% off',
 '48% off',
 '₹699',
 '55% off',
 '27% off',
 '71% off',
 '40% off',
 '81% off',
 '34% off',
 '59% off',
 '15% off',
 '66% off',
 '78% off',
 '40% off',
 '63% off',
 '61% off',
 '66% off',
 '55% off',
 '60% off',
 '58% off',
 '71% off',
 '44% off',
 '63% off',
 '58% off',
 '72% off',
 '50% off',
 '69% off',
 '23% off',
 '55% off',
 '50% off',
 '55% off',
 '52% off',
 '23% off',
 '55% off',
 '70% off',
 '76% off',
 '46% off',
 '53% off',
 '67% off',
 '69% off',
 '70% off',
 '40% off',
 '62% off',
 '68% off',
 '50% off',
 '₹999',
 '50% off',
 '55% off',
 '62% off',
 '60% off',
 '62% off',
 '52% off',
 '65% off',
 '43% off',
 '66% off',
 '43% off',
 '58% off',
 '85% off',
 '70% off',
 '60% off',
 '57% off',
 '78% off',
 '57% off',
 '62% off',
 '55% off',
 '33% off',
 '60% off',
 '57% off',
 '46% off',
 '62% off',
 '62% off',
 '69% off',
 '58% off',
 '62% off',
 '74% off',
 '76% off',
 '51% off',
 '51% off',
 '57% off',
 '75% off',
 '51% off',
 '48% off',
 '₹699',
 '55% off',
 '27% off',
 '71% off']

In [59]:
print(len(Price))
Price

120

['499',
 '449',
 '379',
 '398',
 '377',
 '474',
 '242',
 '283',
 '331',
 '569',
 '419',
 '499',
 '298',
 '399',
 '842',
 '426',
 '428',
 '379',
 '449',
 '379',
 '398',
 '214',
 '539',
 '299',
 '379',
 '305',
 '416',
 '378',
 '328',
 '485',
 '240',
 '240',
 '429',
 '404',
 '240',
 '515',
 '699',
 '446',
 '975',
 '568',
 '299',
 '499',
 '1,975',
 '447',
 '631',
 '661',
 '299',
 '599',
 '474',
 '389',
 '509',
 '449',
 '399',
 '419',
 '719',
 '367',
 '368',
 '416',
 '279',
 '499',
 '455',
 '730',
 '449',
 '498',
 '449',
 '474',
 '769',
 '442',
 '299',
 '299',
 '699',
 '464',
 '323',
 '309',
 '599',
 '599',
 '1,227',
 '407',
 '499',
 '999',
 '499',
 '449',
 '379',
 '398',
 '377',
 '474',
 '242',
 '283',
 '331',
 '569',
 '419',
 '499',
 '298',
 '399',
 '842',
 '426',
 '428',
 '379',
 '449',
 '399',
 '398',
 '214',
 '539',
 '379',
 '379',
 '305',
 '416',
 '378',
 '328',
 '299',
 '240',
 '240',
 '429',
 '485',
 '240',
 '515',
 '699',
 '446',
 '975',
 '568']

In [60]:
import pandas as pd
Sneakers=pd.DataFrame({})
Sneakers['Brand_Name']=Brand[0:100]
Sneakers['Product_Description']=Product_Description[0:100]
Sneakers['Price']=Price[0:100]
Sneakers['Discount%']=discount[0:100]

In [61]:
Sneakers

,Brand_Name,Product_Description,Price,Discount%
0,PEHANOSA,Sneakers For Men,499,50% off
1,bluemaker,Sneakers For Men,449,55% off
2,Robbie jones,Casual Sneakers Shoes For Men Sneakers For Men,379,62% off
3,Numenzo,Sneakers For Men,398,60% off
4,ORICUM,Combo pack of 2 casual sneaker shoes for men S...,377,62% off
...,...,...,...,...
95,"""trend""",Fashionable casual sneakers shoes for men Snea...,426,78% off
96,Robbie jones,Casual Sneakers Black Shoes For Men Sneakers F...,428,57% off
97,VORII,Latest Stylish Casual sneakers for men | Lace ...,379,62% off
98,bluemaker,casual for men (blue 06) Sneakers For Men,449,55% off
99,well feet,sneaker for mens and boys Sneakers For Men,399,33% off

In [62]:
driver.close()

# Assignment Question no 9

Q9: Go to the link - https://www.myntra.com/shoes 
        
Set Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black”, as shown in the below image 

And then scrape First 100 shoes data you get. 

The data should include “Brand” of the shoes , Short Shoe description, price of the shoe as shown in the below image

In [63]:
# importing necessary libraries

import pandas as pd
import selenium
import time
from selenium import webdriver

In [64]:
# activating the chrome driver
driver=webdriver.Chrome(r'Chromedriver.exe')

In [65]:
# loading the website
driver.get('https://www.myntra.com/shoes ')

In [66]:
# clicking on the filter Rs 6649 to Rs 13099

driver.find_element_by_xpath("//ul[@class='price-list']//li[2]").click();

In [67]:
# clicking on the color filter "black" 

driver.find_element_by_xpath("//li[@class='colour-listItem']//label").click();

In [68]:
# now we will extract all the details of sneakers by xpath and append it in a list by splitting the information
 
Brand=[]                                                  # empty list for saving brand name
Product_Description=[]                                    # empty list for saving product description
price=[]                                                  # empty list for saving price
for j in range(0,3):
    for i in driver.find_elements_by_xpath('//div[@class="product-productMetaInfo"]'):
        sneakers=(i.text.split('\n'))
        Brand.append(sneakers[0])
        Product_Description.append(sneakers[1])
        price.append(sneakers[2])
    driver.find_element_by_xpath('//li[@class="pagination-next"]').click()          # xpath of next button
    time.sleep(4)

In [69]:
print(len(Brand))
Brand

150

['Nike',
 'Nike',
 'Puma',
 'PUMA Motorsport',
 'Nike',
 'Nike',
 'Nike',
 'Puma',
 'Nike',
 'Nike',
 'Nike',
 'UNDER ARMOUR',
 'Puma',
 'Saint G',
 'Puma',
 'UNDER ARMOUR',
 'UNDER ARMOUR',
 'UNDER ARMOUR',
 'Puma',
 'ADIDAS Originals',
 'Hush Puppies',
 'UNDER ARMOUR',
 'FILA',
 'Puma',
 'Puma',
 'Skechers',
 'Saint G',
 'Hush Puppies',
 'Ruosh',
 'Heel & Buckle London',
 'Puma',
 'UNDER ARMOUR',
 'UNDER ARMOUR',
 'Geox',
 'UNDER ARMOUR',
 'Reebok',
 'UNDER ARMOUR',
 'Cole Haan',
 'Cole Haan',
 'Puma',
 'Cole Haan',
 'Cole Haan',
 'one8 x PUMA',
 'Cole Haan',
 'Nike',
 'Nike',
 'Nike',
 'Geox',
 'UNDER ARMOUR',
 'Geox',
 'Geox',
 'UNDER ARMOUR',
 'Geox',
 'Reebok',
 'Cole Haan',
 'ALDO',
 'ADIDAS',
 'Saint G',
 'Cole Haan',
 'Ruosh',
 'Nike',
 'Geox',
 'ADIDAS',
 'UNDER ARMOUR',
 'Nike',
 'Geox',
 'Nike',
 'Puma',
 'Geox',
 'Geox',
 'Nike',
 'ADIDAS',
 'Cole Haan',
 'Kenneth Cole',
 'Saint G',
 'UNDER ARMOUR',
 'ALDO',
 'UNDER ARMOUR',
 'Bugatti',
 'Heel & Buckle London',
 'Cole Haan',
 'Nike',
 'Nike',
 'Puma',
 'ALDO',
 'ADIDAS',
 'ALDO',
 'ASICS',
 'ROSSO BRUNELLO',
 'PUMA Motorsport',
 'Puma',
 'ALDO',
 'UNDER ARMOUR',
 'ALDO',
 'ADIDAS',
 'ADIDAS',
 'Onitsuka Tiger',
 'ROSSO BRUNELLO',
 'ALDO',
 'Puma',
 'ALDO',
 'ROSSO BRUNELLO',
 'ALDO',
 'ROSSO BRUNELLO',
 'ROSSO BRUNELLO',
 'Puma',
 'UNDER ARMOUR',
 'ALDO',
 'ALDO',
 'DAVINCHI',
 'ALDO',
 'PUMA Motorsport',
 'ROSSO BRUNELLO',
 'Saint G',
 'ALDO',
 'Nike',
 'Nike',
 'Nike',
 'Nike',
 'Nike',
 'Nike',
 'Nike',
 'Puma',
 'Puma',
 'Heel & Buckle London',
 'Geox',
 'Nike',
 'ADIDAS',
 'ALDO',
 'Cole Haan',
 'ADIDAS',
 'ADIDAS',
 'Saint G',
 'ADIDAS',
 'ALDO',
 'KIPRUN By Decathlon',
 'ADIDAS Originals',
 'UNDER ARMOUR',
 'UNDER ARMOUR',
 'Hush Puppies',
 'Hush Puppies',
 'ALDO',
 'UNDER ARMOUR',
 'ALDO',
 'ADIDAS',
 'ALDO',
 'J.FONTINI',
 'Puma',
 'Hush Puppies',
 'ROSSO BRUNELLO']

In [70]:
print(len(Product_Description))
Product_Description

150

['Men KD13 EP Basketball Shoes',
 'Men React Infinity Running',
 'Men Deviate Nitro Running Shoe',
 'Unisex Mercedes Running Shoes',
 'Men JORDAN DELTA Basketball',
 'Men AIR ZOOM Running Shoes',
 'Men JOYRIDE Running Shoes',
 'Unisex RS-FAST TECH Sneakers',
 'Women REACT Running Shoes',
 'Unisex LEBRON XVIII Shoes',
 'AIR ZOOM PEGASUS Running Shoes',
 'Men Liquify Running Shoes',
 'Men UltraRide Running Shoes',
 'Men Leather Chelsea Boots',
 'Men Velocity Nitro Running',
 'HOVR Sonic 3 Running Shoes',
 'Charged Rogue 2 Wide 2E Shoes',
 'Charged Impulse Running Shoes',
 'Women Eternity Nitro Running',
 'Men Nite Jogger Fluid Sneakers',
 'Men Solid Leather Formal Slip-Ons',
 'HOVR Sonic 3 Running Shoes',
 'Men Running Shoes',
 'Women Liberate Nitro Running',
 'Women Provoke XT Training',
 'Women UNO Sneakers',
 'Men Textured Leather Formal Loafers',
 'Men Formal Derbys',
 'Men Solid Leather Formal Derbys',
 'Men Leather Formal Oxfords',
 'Unisex RS-X Pop Sneakers',
 'Women HOVR Rise 2 Training',
 'Women TriBase Reign 2 Training',
 'Men Leather Formal Oxfords',
 'HOVR Infinite 2 Running Shoes',
 'Forever Floatride Energy 2',
 'Unisex SC 3ZER0 IV Basketball',
 'Men Wingtip Oxford Sneakers',
 'Men GENERATION ZEROGRAND STITCHLITE',
 'Men Liberate Nitro Running',
 'Men Traveller Leather Penny Loafers',
 'Leather Sneakers',
 'Men Fuse One8 Training Shoes',
 'Men ZEROGRAND GLOBAL SLIP ON',
 'Men JORDAN DELTA Sneakers',
 'Men AIR ZOOM PEGASUS 38 Run',
 'Men AIR ZOOM PEGASUS 38 Run',
 'Men Leather Formal Monks',
 'Men Charged Bandit 6 Running',
 'Women Leather Solid Pumps',
 'Men Leather Formal Monks',
 'Men Charged Bandit 6 Running',
 'Sizes: EURO35, EURO36, EURO37,',
 'Unisex Zig Kinetica II Running',
 'Women Open Toe Flats',
 'Men Leather Pointed Toe Derby Formal Shoes',
 'Men Supernova Running Shoes',
 'Women Leather Heeled Boots',
 'Women Solid Leather Ballerinas',
 'Men Textured Derbys',
 'Women AIR MAX VIVA Sneakers',
 'Women Leather Boat Shoes',
 'Men Adizero Ubersonic 4 Tennis',
 'Charged RC Sportstyle Sneakers',
 'Men REACT INFINITY RUN Shoes',
 'Men Leather Formal Derbys',
 'Men REACT MILER 2 Running',
 'Men Football Shoes',
 'Men Leather Formal Slip-Ons',
 'Men Leather Formal Oxfords',
 'Men REACT MILER 2 Running',
 'Men Ultraboost DNA CC_1 Shoes',
 'Women Woven Design Sneakers',
 'Women Solid Flat Boots',
 'Leather Heeled Boots',
 'Men Charged Impulse Running',
 'Women Black Sneakers',
 'Men HOVR Rise 2 Training Shoes',
 'Women Black Sneakers',
 'Men Solid Leather Formal Penny Loafers',
 'Women Leather Sneakers',
 'Men REACT MILER PRM Running',
 'Men PG 5 EP Basketball Shoes',
 'Calibrate Restored Sneakers',
 'Men Solid Loafers',
 'Men Supernova Running Shoes',
 'Men Sneakers',
 'Men EvoRide TOKYO Shoes',
 'Men Solid Leather Formal Slip-Ons',
 'Men Ferrari Race Sneakers',
 'Unisex RS-Fast Sneakers',
 'Leather Solid Loafers',
 'Charged Intake 4 Running Shoes',
 'Men Solid Driving Shoes',
 'Men X9000L3 Heat.RDY Running',
 'Men Supernova Running Shoes',
 'Unisex Solid Sneakers',
 'Men Solid Leather Formal Loafers',
 'Men Leather Driving Shoes',
 'Men ONE 1 IL Football Shoes',
 'Men Solid Loafers',
 'Sizes: UK4, UK5, UK6, UK7, UK8,',
 'Women Sneakers',
 'Men Solid Leather Formal Loafers',
 'Men Solid Leather Formal Oxfords',
 'Future Rider Peanuts Sneakers',
 'Women HOVR Infinite 2 Running',
 'Women Sandals',
 'Men Sneakers',
 'Men Textured Formal Leather Loafers',
 'Women Woven Design Pumps',
 'Ferrari Race 2.0 Sneakers',
 'Men Solid Leather Formal Loafers',
 'Women Leather Heeled Boots',
 'Women Textured Slip-On Sneakers',
 'Men JORDAN WHY NOT Basketball',
 "Men JORDAN ZOOM '92 Shoes",
 'Unisex LEBRON XVIII Basketball',
 'Women ZOOM FLY 3 Running Shoes',
 'KD TREY 5 Basketball Shoes',
 'Men REACT MILER Running Shoes',
 'Women AIR ZOOM Running Shoes',
 'Women Velocity Nitro Running',
 'Unisex Futurverse Sneakers',
 'Men Textured Leather Penny Loafers',
 'Men Leather Driving Shoes',
 'Men AIR ZOOM Running Shoes',
 'Men Ultraboost 4.0 DNA Running',
 'Women Solid Sneakers',
 'Men Textured Derbys',
 'Unisex ClimaCool Vento Running',
 'Men Edge XT Running Shoes',
 'Women Leather Heeled Boots',
 'Men X9000L2 Running Shoes',
 'Women Sneakers Casual Shoes',
 'Men Running Shoes',
 'Leather Forum FSH Plus Sneaker',
 'Men Charged Escape 3 Evo',
 'Men Charged Escape 3 Evo',
 'Men Leather Slip-On Sneakers',
 'Men Solid Leather Formal Slip-Ons',
 'Men Leather Round-Toe Derby Formal Shoes',
 'Liquify Rebel Running Shoes',
 'Women Sandals',
 'Unisex Dame 7 Basketball Shoes',
 'Men Solid Leather Loafers',
 'Men Solid Loafers',
 'casual shoes',
 'Men Leather Loafers',
 'Men Solid Leather Formal Monks']

In [71]:
price  
# in price column the original price , the discounted price and the price offered all are included so we will use split
#function to split the information we want

['Rs. 12995',
 'Rs. 11621Rs. 15495(25% OFF)',
 'Rs. 14999',
 'Rs. 7999',
 'Rs. 12495',
 'Rs. 7721Rs. 10295(25% OFF)',
 'Rs. 11246Rs. 14995(25% OFF)',
 'Rs. 9999',
 'Rs. 8996Rs. 11995(25% OFF)',
 'Rs. 14955Rs. 17595(15% OFF)',
 'Rs. 11495',
 'Rs. 8799Rs. 10999(20% OFF)',
 'Rs. 7649Rs. 8999(15% OFF)',
 'Rs. 11305Rs. 11900(5% OFF)',
 'Rs. 10999',
 'Rs. 10999',
 'Rs. 7999',
 'Rs. 7999',
 'Rs. 12999',
 'Rs. 8449Rs. 12999(35% OFF)',
 'Rs. 8999',
 'Rs. 8799Rs. 10999(20% OFF)',
 'Rs. 8499',
 'Rs. 7999Rs. 9999(20% OFF)',
 'Rs. 7999',
 'Rs. 7999',
 'Rs. 9975Rs. 10500(5% OFF)',
 'Rs. 9999',
 'Rs. 8990',
 'Rs. 7693Rs. 10990(30% OFF)',
 'Rs. 8499Rs. 9999(15% OFF)',
 'Rs. 7999Rs. 9999(20% OFF)',
 'Rs. 9599Rs. 11999(20% OFF)',
 'Rs. 9367Rs. 12490(25% OFF)',
 'Rs. 11999',
 'Rs. 9999',
 'Rs. 8999',
 'Rs. 12999',
 'Rs. 11999',
 'Rs. 9999',
 'Rs. 9999Rs. 19999(50% OFF)',
 'Rs. 10999',
 'Rs. 7999',
 'Rs. 14999Rs. 19999(25% OFF)',
 'Rs. 10995',
 'Rs. 8995Rs. 9995(10% OFF)',
 'Rs. 8995Rs. 9995(10% OFF)',
 'Rs. 11999Rs. 15999(25% OFF)',
 'Rs. 7649Rs. 8999(15% OFF)',
 'Rs. 8992Rs. 11990(25% OFF)',
 'Rs. 11999Rs. 15999(25% OFF)',
 'Rs. 7649Rs. 8999(15% OFF)',
 'Rs. 8992Rs. 11990(25% OFF)',
 'Rs. 9999',
 'Rs. 8999Rs. 11999(25% OFF)',
 'Rs. 7799Rs. 12999(40% OFF)',
 'Rs. 7999Rs. 9999(20% OFF)',
 'Rs. 9900',
 'Rs. 10499Rs. 13999(25% OFF)',
 'Rs. 8990',
 'Rs. 12495',
 'Rs. 8990',
 'Rs. 11199Rs. 13999(20% OFF)',
 'Rs. 8999',
 'Rs. 12320Rs. 14495(15% OFF)',
 'Rs. 11490',
 'Rs. 9770Rs. 11495(15% OFF)',
 'Rs. 13599Rs. 16999(20% OFF)',
 'Rs. 11242Rs. 14990(25% OFF)',
 'Rs. 7867Rs. 10490(25% OFF)',
 'Rs. 9770Rs. 11495(15% OFF)',
 'Rs. 13599Rs. 16999(20% OFF)',
 'Rs. 14999',
 'Rs. 9513Rs. 13590(30% OFF)',
 'Rs. 11800',
 'Rs. 7999',
 'Rs. 8999',
 'Rs. 9999',
 'Rs. 7999',
 'Rs. 8792Rs. 10990(20% OFF)',
 'Rs. 10999',
 'Rs. 9996Rs. 12495(20% OFF)',
 'Rs. 7900Rs. 9295(15% OFF)',
 'Rs. 11999',
 'Rs. 11199Rs. 15999(30% OFF)',
 'Rs. 7999Rs. 9999(20% OFF)',
 'Rs. 9999',
 'Rs. 7999Rs. 9999(20% OFF)',
 'Rs. 10799Rs. 11999(10% OFF)',
 'Rs. 7999',
 'Rs. 9999',
 'Rs. 14999',
 'Rs. 9999',
 'Rs. 14999',
 'Rs. 9599Rs. 11999(20% OFF)',
 'Rs. 7999Rs. 9999(20% OFF)',
 'Rs. 10999',
 'Rs. 10799Rs. 11999(10% OFF)',
 'Rs. 11999',
 'Rs. 14999',
 'Rs. 10999',
 'Rs. 10349Rs. 11499(10% OFF)',
 'Rs. 11999',
 'Rs. 10799Rs. 11999(10% OFF)',
 'Rs. 10799Rs. 11999(10% OFF)',
 'Rs. 8999',
 'Rs. 11999',
 'Rs. 7999',
 'Rs. 9999',
 'Rs. 8091Rs. 8990(10% OFF)',
 'Rs. 7799Rs. 12999(40% OFF)',
 'Rs. 9999',
 'Rs. 8999Rs. 9999(10% OFF)',
 'Rs. 8500',
 'Rs. 9099Rs. 12999(30% OFF)',
 'Rs. 11495',
 'Rs. 13495',
 'Rs. 14076Rs. 17595(20% OFF)',
 'Rs. 10496Rs. 13995(25% OFF)',
 'Rs. 7995',
 'Rs. 8796Rs. 10995(20% OFF)',
 'Rs. 8236Rs. 10295(20% OFF)',
 'Rs. 10999',
 'Rs. 9999',
 'Rs. 8792Rs. 10990(20% OFF)',
 'Rs. 9499',
 'Rs. 10796Rs. 13495(20% OFF)',
 'Rs. 12749Rs. 16999(25% OFF)',
 'Rs. 7999',
 'Rs. 14999',
 'Rs. 11199Rs. 13999(20% OFF)',
 'Rs. 9599Rs. 11999(20% OFF)',
 'Rs. 12500',
 'Rs. 7999Rs. 9999(20% OFF)',
 'Rs. 8399Rs. 11999(30% OFF)',
 'Rs. 7857Rs. 8449(7% OFF)',
 'Rs. 8799Rs. 10999(20% OFF)',
 'Rs. 8999',
 'Rs. 8999',
 'Rs. 9999',
 'Rs. 9999',
 'Rs. 7799Rs. 12999(40% OFF)',
 'Rs. 8999',
 'Rs. 9999',
 'Rs. 8799Rs. 10999(20% OFF)',
 'Rs. 13999',
 'Rs. 7990',
 'Rs. 8999',
 'Rs. 9999',
 'Rs. 12149Rs. 13499(10% OFF)']

In [72]:
# separating the price and discount% from the price list
 
Price=[]                             # empty list for  appending the price
for i in price:
    pr=i.split('Rs. ')                # temporary string to save the prices
   # prr=pr.strip()
    Price.append(pr[1])              # appending the pr in list

In [73]:
Price

['12995',
 '11621',
 '14999',
 '7999',
 '12495',
 '7721',
 '11246',
 '9999',
 '8996',
 '14955',
 '11495',
 '8799',
 '7649',
 '11305',
 '10999',
 '10999',
 '7999',
 '7999',
 '12999',
 '8449',
 '8999',
 '8799',
 '8499',
 '7999',
 '7999',
 '7999',
 '9975',
 '9999',
 '8990',
 '7693',
 '8499',
 '7999',
 '9599',
 '9367',
 '11999',
 '9999',
 '8999',
 '12999',
 '11999',
 '9999',
 '9999',
 '10999',
 '7999',
 '14999',
 '10995',
 '8995',
 '8995',
 '11999',
 '7649',
 '8992',
 '11999',
 '7649',
 '8992',
 '9999',
 '8999',
 '7799',
 '7999',
 '9900',
 '10499',
 '8990',
 '12495',
 '8990',
 '11199',
 '8999',
 '12320',
 '11490',
 '9770',
 '13599',
 '11242',
 '7867',
 '9770',
 '13599',
 '14999',
 '9513',
 '11800',
 '7999',
 '8999',
 '9999',
 '7999',
 '8792',
 '10999',
 '9996',
 '7900',
 '11999',
 '11199',
 '7999',
 '9999',
 '7999',
 '10799',
 '7999',
 '9999',
 '14999',
 '9999',
 '14999',
 '9599',
 '7999',
 '10999',
 '10799',
 '11999',
 '14999',
 '10999',
 '10349',
 '11999',
 '10799',
 '10799',
 '8999',
 '11999',
 '7999',
 '9999',
 '8091',
 '7799',
 '9999',
 '8999',
 '8500',
 '9099',
 '11495',
 '13495',
 '14076',
 '10496',
 '7995',
 '8796',
 '8236',
 '10999',
 '9999',
 '8792',
 '9499',
 '10796',
 '12749',
 '7999',
 '14999',
 '11199',
 '9599',
 '12500',
 '7999',
 '8399',
 '7857',
 '8799',
 '8999',
 '8999',
 '9999',
 '9999',
 '7799',
 '8999',
 '9999',
 '8799',
 '13999',
 '7990',
 '8999',
 '9999',
 '12149']

In [74]:
import pandas as pd
Black_Sneakers=pd.DataFrame({})
Black_Sneakers['Brand_Name']=Brand[0:100]
Black_Sneakers['Product_Description']=Product_Description[0:100]
Black_Sneakers['Price']=Price[0:100]

In [75]:
Black_Sneakers

         Brand_Name               Product_Description  Price
0              Nike      Men KD13 EP Basketball Shoes  12995
1              Nike        Men React Infinity Running  11621
2              Puma    Men Deviate Nitro Running Shoe  14999
3   PUMA Motorsport     Unisex Mercedes Running Shoes   7999
4              Nike       Men JORDAN DELTA Basketball  12495
..              ...                               ...    ...
95           ADIDAS       Men Supernova Running Shoes   7999
96   Onitsuka Tiger             Unisex Solid Sneakers  10999
97   ROSSO BRUNELLO  Men Solid Leather Formal Loafers  10799
98             ALDO         Men Leather Driving Shoes  11999
99             Puma       Men ONE 1 IL Football Shoes  14999

[100 rows x 3 columns]

In [76]:
driver.close()

# Assignment Question No 10

In [77]:
# importing libraries
import selenium
import pandas as pd
import time

#importing selenium webdriver
from selenium import webdriver

In [78]:
# activating the chrome driver
driver=webdriver.Chrome(r'Chromedriver.exe')

In [81]:
# loading the website
driver.get(' https://www.amazon.in/')

In [82]:
# asking the user for the input
input1="laptops"

In [83]:
search_box=driver.find_element_by_id('twotabsearchtextbox')

search_box.send_keys(input1)

In [87]:
# inserting the text in the search box and clicking on the search button
search_button=driver.find_element_by_id('nav-search-submit-button')
search_button.click()

In [88]:
#locating the core i7 filter
filter_button=driver.find_elements_by_xpath("//a[@class='a-link-normal s-navigation-item']/span")
for i in filter_button:
    if i.text=='Intel Core i7':
        i.click()
        break

In [89]:
# now we will extract all the laptop names
laptops=[]

for i in driver.find_elements_by_xpath('//h2[@class="a-size-mini a-spacing-none a-color-base s-line-clamp-2"]'):
    laptops.append(i.text)

In [90]:
laptops

['Dell G3 3500 Gaming 15.6inch ( 39.62 cms) 120hz FHD Display Laptop (10th Gen i7-10750H / 8 GB / 512 SSD / GTX 1650 4GB / 1Yr Premium Warranty/ Win 10 + MS Office H&S 2019) D560250WIN9BE',
 'Lenovo IdeaPad Flex 5 11th Gen Intel Core i7 14-inch FHD IPS 2-in-1 Touchscreen Laptop (16GB/512GB SSD/Win 10/Office 2019/Lenovo Digital Pen Stylus/Fingerprint Reader/Graphite Grey/1.5Kg), 82HS0092IN',
 'ASUS VivoBook S S14 Intel Core i7-1165G7 11th Gen, 14-inch FHD Thin and Light Laptop (8GB RAM/512GB SSD + 32GB Optane Memory/Windows 10/Office 2019/Iris X Graphics- Indie Black/1.4 Kg), S433EA-AM701TS',
 'HP Pavilion x360 (2021) 14" (35.56cms) FHD Touchscreen Laptop, 11th Gen Core i7, 8 GB RAM, 512GB SSD, 2-in-1 Convertible, Windows 10, MS Office, Finger Print Reader (14-dw1040TU)',
 'Acer Swift 5 14" (35.56cms) Full HD IPS Display with Touchscreen Ultra Thin and Light Notebook (Intel i7 - 11th Gen/16GB RAM/1TB SSD/Win10/Intel Iris Xe Graphics/1.05 Kg/Mist Green), SF514-55TA',
 'Dell Inspiron 5406 14" FHD Touch Display 2in1 Laptop (11th Gen i7-1165G7 / 8Gb / 512Gb SSD / Integrated Graphics / Win 10 + MSO / Titan Grey Color / FPR/ Active Pen) D560414WIN9S',
 'CUK VivoBook K571 by ASUS 15 Inch Gaming Laptop (Intel Core i7, 16GB RAM, 256GB NVMe SSD + 1TB HDD, NVIDIA GeForce GTX 1650 Ti 4GB, 15.6" FHD, Windows 10 Home) Thin Notebook Computer',
 'Lenovo Yoga Slim 7i 11th Gen Intel Core i7 14" FHD IPS Thin and Light Laptop (16GB/1TB SSD/Win 10/Office/Intel Iris Xe Graphics/Fingerprint/HD IR Camera/Aluminium Surface/Slate Grey/1.36Kg) 82A3009QIN',
 'Acer Nitro 5 Intel Core i7-9th Gen 17.3-inch Display 1920 x 1080 Gaming Laptop (8GB Ram/1 TB HDD/256 GB SSD/Window 10 Home/4GB NVIDIA GeForce GTX 1650 Graphics/Black), AN517-51',
 'Lenovo IdeaPad Flex 5 11th Gen Intel Core i7 14-inch FHD IPS 2-in-1 Touchscreen Laptop (16GB/512GB SSD/Win 10/Office 2019/Lenovo Digital Pen Stylus/Fingerprint Reader/Graphite Grey/1.5Kg), 82HS0092IN',
 'Life Digital Laptop 15.6-inch (39.62 cms) (Intel Core i7, 8GB RAM, 512GB SSD, Windows 10), ZED AIR CX7',
 'Mi Notebook Horizon Edition 14 Intel Core i5-10210U 10th Gen 14-inch (35.56 cms) Thin and Light Laptop(8GB/512GB SSD/Windows 10/Nvidia MX350 2GB Graphics/Grey/1.35Kg), XMA1904-AR+Webcam',
 'Dell XPS 7390 13.3-inch (33.78 cms) UHD Display Thin & Light Laptop (10th Gen Core i7-10510U/16GB/512GB SSD/Win 10 + MS Office/Integrated Graphics), Silver',
 'HP Pavilion Gaming 10th Gen Intel Core i7 Processor 15.6-inch FHD Gaming Laptop (16GB/512GB SSD + 32GB Intel Optane/Windows 10/NVIDIA 1650 4GB/Shadow Black), 15-dk1151TX',
 'Lenovo Yoga Slim 7 10th Gen Intel Core i7 14 inch Full HD IPS Thin and Light Laptop (8GB/512GB SSD/Windows 10/MS Office 2019/NVIDIA MX350 2GB GDDR5 Graphics/Slate Grey/1.55Kg), 82A1009KIN',
 'Acer Swift 5 14" (35.56cms) Full HD IPS Display with Touchscreen Ultra Thin and Light Notebook (Intel i7 - 11th Gen/16GB RAM/1TB SSD/Win10/Intel Iris Xe Graphics/1.05 Kg/Mist Green), SF514-55TA',
 '(Renewed) Dell E7250 Latitude 12.5 Inches Laptop (5th Gen Intel Core i7 - 5600U /8 GB/512 GB SSD/Windows 10 Pro), Black',
 '(Renewed) Lenovo T430 14-inch Laptop (Core i7/ 16GB RAM /1TB HDD/Windows 10 Pro/MS Office 2019, Intel Integrated Graphics, PAN INDIA WARRANTY) Black',
 '(Renewed) Dell Latitude E6420 14 Inch Laptop (Core I7 2460M/4GB/320GB/Nvidia Dedicated Graphics/Windows Professional/MS Office), Dark Grey',
 'Razer Blade Pro 17 Gaming Laptop 2019',
 'Lenovo Legion Y540 Intel Core i7 9th Gen 15.6” FHD Gaming (8GB/256SSD + 1TBHDD/Win10/NVIDIA GeForce GTX 1650 4GB/Raven Black/2.3kg), 81SY00U7IN',
 '(Renewed) Dell Latitude E6420 14 Inch Laptop (Core I7 2460M/8GB/256GB SSD/Nvidia Dedicated Graphics/Windows Professional/MS Office), Dark Grey',
 'HP OMEN X-ap046TX 17" (43.18 cms) FHD Gaming Laptop (Intel Core i7-7820HK/32GB/1TB HDD + 1TB SSD/GTX 1080 8 GB GDDR5X Graphics/G-SYNC/VR Ready/Windows 10), Shadow Black',
 'HP Pavilion Gaming 10th Gen Intel Core i7 Processor 15.6-inch FHD Gaming Laptop (16GB/512GB SSD + 32GB Intel Optane/Windows 10/NVIDIA 1650Ti 4GB/Shadow Black), 15-dk1509TX',
 'Dell G3 3500 Gaming 15.6inch ( 39.62 cms) 120hz FHD Display Laptop (10th Gen i7-10750H / 8 GB / 512 SSD / GTX 1650 4GB / 1Yr Premium Warranty/ Win 10 + MS Office H&S 2019) D560250WIN9BE',
 "(Renewed) HP EliteBook 840 G3 Laptop (Core i7 6th Gen/8GB/500GB/WEBCAM/14'' Touch/DOS)",
 '(Renewed) Dell Intel 4th Gen Core i7 4600U 14-Inch (35.56 cms) 1366x768 Laptop (4 GB/256 GB SSD/Windows 10/MS Office Pro 2019 /Intel HD Graphics 4600/Silver/1.80 kg), Dell Lattitude E7440',
 'HP Envy x360 Convertible Touchscreen 13.3-inch FHD Laptop (11th Gen Intel Core i7-1165G7/16GB/512GB SSD/Win 10 Home/Alexa Built-in/Pale Gold/1.32kg), 13-bd0063TU',
 'Mi Notebook Horizon Edition 14 Intel Core i5-10210U 10th Gen 14-inch (35.56 cms) Thin and Light Laptop(8GB/512GB SSD/Windows 10/Nvidia MX350 2GB Graphics/Grey/1.35Kg), XMA1904-AR+Webcam',
 'Dell Inspiron 7490 i7-10510U, 8GB RAM, 512GB NVMe SSD, 14" Full HD 1920x1080 Non Touchscreen, Fingerprint Reader, Windows 10 Home, USB C, HDMI, USB 3.1, Silver']

In [91]:
# for getting the accurate information we will get the urls of laptop
laptops_url=[]
for i in driver.find_elements_by_xpath('//h2[@class="a-size-mini a-spacing-none a-color-base s-line-clamp-2"]/a'):
    laptops_url.append(i.get_attribute('href'))

In [92]:
laptops_url

['https://www.amazon.in/gp/slredirect/picassoRedirect.html/ref=pa_sp_atf_computers_sr_pg1_1?ie=UTF8&adId=A022103072HA7E9RR0G0&url=%2FDell-15-6inch-i7-10750H-Warranty-D560250WIN9BE%2Fdp%2FB08HYPRST4%2Fref%3Dsr_1_1_sspa%3Fdchild%3D1%26keywords%3Dlaptops%26qid%3D1621629574%26refinements%3Dp_n_feature_thirteen_browse-bin%253A12598163031%26rnid%3D12598141031%26s%3Dcomputers%26sr%3D1-1-spons%26psc%3D1&qualifier=1621629574&id=3038107126083884&widgetName=sp_atf',
 'https://www.amazon.in/gp/slredirect/picassoRedirect.html/ref=pa_sp_atf_computers_sr_pg1_1?ie=UTF8&adId=A04686372EO1LCBF9AV16&url=%2FLenovo-Touchscreen-Fingerprint-Graphite-82HS0092IN%2Fdp%2FB08WRZQBQ6%2Fref%3Dsr_1_2_sspa%3Fdchild%3D1%26keywords%3Dlaptops%26qid%3D1621629574%26refinements%3Dp_n_feature_thirteen_browse-bin%253A12598163031%26rnid%3D12598141031%26s%3Dcomputers%26sr%3D1-2-spons%26psc%3D1&qualifier=1621629574&id=3038107126083884&widgetName=sp_atf',
 'https://www.amazon.in/ASUS-VivoBook-i7-1165G7-Graphics-S433EA-AM701TS/dp/B08PQTZB3Z/ref=sr_1_3?dchild=1&keywords=laptops&qid=1621629574&refinements=p_n_feature_thirteen_browse-bin%3A12598163031&rnid=12598141031&s=computers&sr=1-3',
 'https://www.amazon.in/HP-Pavilion-Touchscreen-Convertible-14-dw1040TU/dp/B08R843NHL/ref=sr_1_4?dchild=1&keywords=laptops&qid=1621629574&refinements=p_n_feature_thirteen_browse-bin%3A12598163031&rnid=12598141031&s=computers&sr=1-4',
 'https://www.amazon.in/Acer-Swift-Display-Touchscreen-Notebook/dp/B08M41DHTV/ref=sr_1_5?dchild=1&keywords=laptops&qid=1621629574&refinements=p_n_feature_thirteen_browse-bin%3A12598163031&rnid=12598141031&s=computers&sr=1-5',
 'https://www.amazon.in/Dell-Inspiron-i7-1165G7-Integrated-D560414WIN9S/dp/B0919LL313/ref=sr_1_6?dchild=1&keywords=laptops&qid=1621629574&refinements=p_n_feature_thirteen_browse-bin%3A12598163031&rnid=12598141031&s=computers&sr=1-6',
 'https://www.amazon.in/VivoBook-GeForce-Windows-Notebook-Computer/dp/B08CHP2TJC/ref=sr_1_7?dchild=1&keywords=laptops&qid=1621629574&refinements=p_n_feature_thirteen_browse-bin%3A12598163031&rnid=12598141031&s=computers&sr=1-7',
 'https://www.amazon.in/Lenovo-Graphics-Fingerprint-Aluminium-82A3009QIN/dp/B08ZNLVSPG/ref=sr_1_8?dchild=1&keywords=laptops&qid=1621629574&refinements=p_n_feature_thirteen_browse-bin%3A12598163031&rnid=12598141031&s=computers&sr=1-8',
 'https://www.amazon.in/Acer-17-3-inch-Display-Graphics-AN517-51/dp/B08D1D82YQ/ref=sr_1_9?dchild=1&keywords=laptops&qid=1621629574&refinements=p_n_feature_thirteen_browse-bin%3A12598163031&rnid=12598141031&s=computers&sr=1-9',
 'https://www.amazon.in/Lenovo-Touchscreen-Fingerprint-Graphite-82HS0092IN/dp/B08WRZQBQ6/ref=sr_1_10?dchild=1&keywords=laptops&qid=1621629574&refinements=p_n_feature_thirteen_browse-bin%3A12598163031&rnid=12598141031&s=computers&sr=1-10',
 'https://www.amazon.in/LifeDigital-Laptop-Intel%C2%AE-Storage-Windows/dp/B08HRHFV23/ref=sr_1_11?dchild=1&keywords=laptops&qid=1621629574&refinements=p_n_feature_thirteen_browse-bin%3A12598163031&rnid=12598141031&s=computers&sr=1-11',
 'https://www.amazon.in/Notebook-Horizon-i5-10210U-Graphics-XMA1904-AR/dp/B089F5JGM1/ref=sr_1_12?dchild=1&keywords=laptops&qid=1621629574&refinements=p_n_feature_thirteen_browse-bin%3A12598163031&rnid=12598141031&s=computers&sr=1-12',
 'https://www.amazon.in/7390-13-3-inch-i7-10510U-Microsoft-Integrated/dp/B0842ZFT58/ref=sr_1_13?dchild=1&keywords=laptops&qid=1621629574&refinements=p_n_feature_thirteen_browse-bin%3A12598163031&rnid=12598141031&s=computers&sr=1-13',
 'https://www.amazon.in/HP-Pavilion-Processor-15-6-inch-15-dk1151TX/dp/B08ZN5S446/ref=sr_1_14?dchild=1&keywords=laptops&qid=1621629574&refinements=p_n_feature_thirteen_browse-bin%3A12598163031&rnid=12598141031&s=computers&sr=1-14',
 'https://www.amazon.in/gp/slredirect/picassoRedirect.html/ref=pa_sp_mtf_computers_sr_pg1_1?ie=UTF8&adId=A0372319347VE4FKU20UM&url=%2FLenovo-Laptop-Windows-Graphics-82A1009KIN%2Fdp%2FB087D38ZP4%2Fref%3Dsr_1_15_sspa%3Fdchild%3D1%26keywords%3Dlaptops%26qid%3D1621629574%26refinements%3Dp_n_feature_thirteen_browse-bin%253A12598163031%26rnid%3D12598141031%26s%3Dcomputers%26sr%3D1-15-spons%26psc%3D1&qualifier=1621629574&id=3038107126083884&widgetName=sp_mtf',
 'https://www.amazon.in/gp/slredirect/picassoRedirect.html/ref=pa_sp_mtf_computers_sr_pg1_1?ie=UTF8&adId=A0659051I7QS641DEDLG&url=%2FAcer-Swift-Display-Touchscreen-Notebook%2Fdp%2FB08M41DHTV%2Fref%3Dsr_1_16_sspa%3Fdchild%3D1%26keywords%3Dlaptops%26qid%3D1621629574%26refinements%3Dp_n_feature_thirteen_browse-bin%253A12598163031%26rnid%3D12598141031%26s%3Dcomputers%26sr%3D1-16-spons%26psc%3D1&qualifier=1621629574&id=3038107126083884&widgetName=sp_mtf',
 'https://www.amazon.in/Renewed-Dell-E7250-Latitude-Inches/dp/B07V4SX92S/ref=sr_1_17?dchild=1&keywords=laptops&qid=1621629574&refinements=p_n_feature_thirteen_browse-bin%3A12598163031&rnid=12598141031&s=computers&sr=1-17',
 'https://www.amazon.in/Renewed-Lenovo-Integrated-Graphics-WARRANTY/dp/B092ZBH1K9/ref=sr_1_18?dchild=1&keywords=laptops&qid=1621629574&refinements=p_n_feature_thirteen_browse-bin%3A12598163031&rnid=12598141031&s=computers&sr=1-18',
 'https://www.amazon.in/Dell-Latitude-E6420-Dedicated-Professional/dp/B07WWGBK47/ref=sr_1_19?dchild=1&keywords=laptops&qid=1621629574&refinements=p_n_feature_thirteen_browse-bin%3A12598163031&rnid=12598141031&s=computers&sr=1-19',
 'https://www.amazon.in/Razer-Blade-Gaming-Laptop-2019/dp/B07X379CZ9/ref=sr_1_20?dchild=1&keywords=laptops&qid=1621629574&refinements=p_n_feature_thirteen_browse-bin%3A12598163031&rnid=12598141031&s=computers&sr=1-20',
 'https://www.amazon.in/Lenovo-Legion-Gaming-GeForce-81SY00U7IN/dp/B092MRQCJ6/ref=sr_1_21?dchild=1&keywords=laptops&qid=1621629574&refinements=p_n_feature_thirteen_browse-bin%3A12598163031&rnid=12598141031&s=computers&sr=1-21',
 'https://www.amazon.in/Dell-Latitude-E6420-Dedicated-Professional/dp/B07WPDNLFR/ref=sr_1_22?dchild=1&keywords=laptops&qid=1621629574&refinements=p_n_feature_thirteen_browse-bin%3A12598163031&rnid=12598141031&s=computers&sr=1-22',
 'https://www.amazon.in/HP-X-ap046TX-17-inch-i7-7820HK-Miracast/dp/B07BN27V7P/ref=sr_1_23?dchild=1&keywords=laptops&qid=1621629574&refinements=p_n_feature_thirteen_browse-bin%3A12598163031&rnid=12598141031&s=computers&sr=1-23',
 'https://www.amazon.in/HP-Pavilion-Processor-15-6-inch-15-dk1509TX/dp/B08ZN7GBQ5/ref=sr_1_24?dchild=1&keywords=laptops&qid=1621629574&refinements=p_n_feature_thirteen_browse-bin%3A12598163031&rnid=12598141031&s=computers&sr=1-24',
 'https://www.amazon.in/Dell-15-6inch-i7-10750H-Warranty-D560250WIN9BE/dp/B08HYPRST4/ref=sr_1_25?dchild=1&keywords=laptops&qid=1621629574&refinements=p_n_feature_thirteen_browse-bin%3A12598163031&rnid=12598141031&s=computers&sr=1-25',
 'https://www.amazon.in/Renewed-HP-EliteBook-840-Laptop/dp/B089GNVMNM/ref=sr_1_26?dchild=1&keywords=laptops&qid=1621629574&refinements=p_n_feature_thirteen_browse-bin%3A12598163031&rnid=12598141031&s=computers&sr=1-26',
 'https://www.amazon.in/Renewed-Dell-1366x768-Graphics-Lattitude/dp/B08RS41X61/ref=sr_1_27?dchild=1&keywords=laptops&qid=1621629574&refinements=p_n_feature_thirteen_browse-bin%3A12598163031&rnid=12598141031&s=computers&sr=1-27',
 'https://www.amazon.in/HP-Convertible-Touchscreen-13-3-inch-13-bd0063TU/dp/B08NDMSMPS/ref=sr_1_28?dchild=1&keywords=laptops&qid=1621629574&refinements=p_n_feature_thirteen_browse-bin%3A12598163031&rnid=12598141031&s=computers&sr=1-28',
 'https://www.amazon.in/gp/slredirect/picassoRedirect.html/ref=pa_sp_btf_computers_sr_pg1_1?ie=UTF8&adId=A086665935KXADPC1VKVC&url=%2FNotebook-Horizon-i5-10210U-Graphics-XMA1904-AR%2Fdp%2FB089F5JGM1%2Fref%3Dsr_1_29_sspa%3Fdchild%3D1%26keywords%3Dlaptops%26qid%3D1621629574%26refinements%3Dp_n_feature_thirteen_browse-bin%253A12598163031%26rnid%3D12598141031%26s%3Dcomputers%26sr%3D1-29-spons%26psc%3D1&qualifier=1621629574&id=3038107126083884&widgetName=sp_btf',
 'https://www.amazon.in/gp/slredirect/picassoRedirect.html/ref=pa_sp_btf_computers_sr_pg1_1?ie=UTF8&adId=A10376183MDKE43UKKSIQ&url=%2FDell-7490-i7-10510U-Touchscreen-Fingerprint%2Fdp%2FB088JGMBG6%2Fref%3Dsr_1_30_sspa%3Fdchild%3D1%26keywords%3Dlaptops%26qid%3D1621629574%26refinements%3Dp_n_feature_thirteen_browse-bin%253A12598163031%26rnid%3D12598141031%26s%3Dcomputers%26sr%3D1-30-spons%26psc%3D1&qualifier=1621629574&id=3038107126083884&widgetName=sp_btf']

In [93]:
from selenium.common.exceptions import NoSuchElementException

In [94]:
# for getting the ratings we will iterate to each page

Ratings=[]
for i in laptops_url:    
    driver.get(i)                   # getting on pages through urls
    try:                 
        rate=driver.find_element_by_xpath("//span[@id='acrCustomerReviewText']")#locating the ratingd link
        rate.click()                                                      #click the rating link found
        rating=driver.find_element_by_xpath("//span[@class='a-size-medium a-color-base']")#locating the rating
        Ratings.append(rating.text)#appending the ratings in Ratings list
    except NoSuchElementException   as e:
        Ratings.append("-")#appending the No rating if no rating is there

In [95]:
Ratings

['3.9 out of 5',
 '4 out of 5',
 '4.4 out of 5',
 '3.7 out of 5',
 '4.1 out of 5',
 '3.5 out of 5',
 '4.7 out of 5',
 '-',
 '3 out of 5',
 '4 out of 5',
 '2.9 out of 5',
 '4.4 out of 5',
 '1.2 out of 5',
 '4.2 out of 5',
 '3.2 out of 5',
 '4.1 out of 5',
 '3.4 out of 5',
 '-',
 '-',
 '4.3 out of 5',
 '4 out of 5',
 '-',
 '3.2 out of 5',
 '3.3 out of 5',
 '3.9 out of 5',
 '-',
 '-',
 '4.6 out of 5',
 '4.4 out of 5',
 '-']

In [97]:
# for getting the prices we will iterate to each page
prices=[]
for i in laptops_url:        #loop for every laptop in the list

    driver.get(i)

    try:          
        price=driver.find_element_by_xpath('//span[@class="a-size-medium a-color-price priceBlockBuyingPriceString"]')
        prices.append(price.text)
    except NoSuchElementException   as e:
        prices.append("-")#appending no if no price is there

In [98]:
prices

['-',
 '₹ 83,990.00',
 '₹ 81,990.00',
 '₹ 78,593.00',
 '₹ 91,999.00',
 '₹ 89,400.00',
 '-',
 '₹ 97,990.00',
 '₹ 69,990.00',
 '₹ 83,990.00',
 '₹ 47,050.00',
 '-',
 '₹ 1,64,990.00',
 '-',
 '₹ 83,990.00',
 '₹ 91,999.00',
 '₹ 54,499.00',
 '₹ 37,999.00',
 '₹ 34,000.00',
 '₹ 3,05,701.00',
 '-',
 '₹ 43,000.00',
 '₹ 2,55,000.00',
 '₹ 84,990.00',
 '-',
 '₹ 49,999.00',
 '₹ 39,999.00',
 '₹ 1,02,993.00',
 '-',
 '₹ 84,999.00']

In [99]:
print(len(prices),len(laptops),len(prices))

30 30 30

In [100]:
import pandas as pd
core_i7_laptops=pd.DataFrame({})
core_i7_laptops['Title']=laptops[0:10]
core_i7_laptops['Ratings']=Ratings[0:10]
core_i7_laptops['Price']=prices[0:10]

In [101]:
core_i7_laptops

,Title,Ratings,Price
0,Dell G3 3500 Gaming 15.6inch ( 39.62 cms) 120h...,3.9 out of 5,-
1,Lenovo IdeaPad Flex 5 11th Gen Intel Core i7 1...,4 out of 5,"₹ 83,990.00"
2,ASUS VivoBook S S14 Intel Core i7-1165G7 11th ...,4.4 out of 5,"₹ 81,990.00"
3,"HP Pavilion x360 (2021) 14"" (35.56cms) FHD Tou...",3.7 out of 5,"₹ 78,593.00"
4,"Acer Swift 5 14"" (35.56cms) Full HD IPS Displa...",4.1 out of 5,"₹ 91,999.00"
5,"Dell Inspiron 5406 14"" FHD Touch Display 2in1 ...",3.5 out of 5,"₹ 89,400.00"
6,CUK VivoBook K571 by ASUS 15 Inch Gaming Lapto...,4.7 out of 5,-
7,"Lenovo Yoga Slim 7i 11th Gen Intel Core i7 14""...",-,"₹ 97,990.00"
8,Acer Nitro 5 Intel Core i7-9th Gen 17.3-inch D...,3 out of 5,"₹ 69,990.00"
9,Lenovo IdeaPad Flex 5 11th Gen Intel Core i7 1...,4 out of 5,"₹ 83,990.00"

### returning to home page for getting details of core_i9_laptops

In [118]:
# activating the chrome driver
driver=webdriver.Chrome(r'Chromedriver.exe')

In [119]:
# loading the website
driver.get(' https://www.amazon.in/')

In [120]:
# asking the user for the input
input1="laptops"

In [121]:
search_box=driver.find_element_by_id('twotabsearchtextbox')

search_box.send_keys(input1)

In [123]:
search_box=driver.find_element_by_id('twotabsearchtextbox')
search_box.clear()
search_box.send_keys(input1)

In [124]:
# inserting the text in the search box and clicking on the search button
search_button=driver.find_element_by_id('nav-search-submit-button')
search_button.click()

In [125]:
#locating the core i9 filter
filter_button=driver.find_elements_by_xpath("//a[@class='a-link-normal s-navigation-item']/span")
for i in filter_button:
    if i.text=='Intel Core i9':
        i.click()
        break

In [126]:
# now we will extract all the laptop names
laptops=[]

for i in driver.find_elements_by_xpath('//h2[@class="a-size-mini a-spacing-none a-color-base s-line-clamp-2"]'):
    laptops.append(i.text)

In [127]:
laptops

['ASUS ROG G703GI-E5148T 17.3" (43.94 cms) FHD 144Hz/3ms Gaming Laptop (8th Gen Intel Core i9-8950HK/64GB/2TB SSHD + 1.5TB NVMe SSD/Windows 10/GTX 1080 8GB Graphics/4.70 Kg), Aluminum',
 'ASUS ROG Zephyrus Duo 15, 15.6" FHD 300Hz/3ms, Intel Core i9-10980HK 10th Gen, RTX 2080 SUPER Max-Q 8GB Graphic, Gaming Laptop (32GB/2TB RAID 0 SSD/Office 2019/Windows 10/Gray/2.4 Kg) GX550LXS-HF168TS',
 'ASUS ROG Strix Scar 17 (2020), 17.3" FHD 300Hz/3ms, Intel Core i9-10980HK 10th Gen, RTX 2080 Super GDDR6 8GB Graphics, Gaming Laptop (32GB/2TB RAID 0 SSD/Windows 10/Black/2.99 Kg), G732LXS-HG059T',
 'Lenovo Legion 7 10th Gen Intel Core i9 15.6 inch Full HD Gaming Laptop (16GB/1TB SSD/Windows 10/MS Office 2019/144 Hz/NVIDIA RTX 2080 8GB GDDR6 Graphics/Slate Grey/2.25Kg), 81YU006HIN',
 'ASUS ZenBook Pro Duo Intel Core i9-10980HK 10th Gen 15.6" 4K UHD OLED Touchscreen Laptop (32GB RAM/1TB NVMe SSD/Windows 10/6GB NVIDIA GeForce RTX 2060 Graphics/Celestial Blue/2.5 Kg), UX581LV-H2035T',
 '(Renewed) Dell XPS 9570 Laptop|i9-8950HK|32GB DDR4|1TB SSD|15.6" 4K Touch|NVIDIA GTX 1050Ti 4GB|Win 10 HSL|Backlit',
 'ASUS ZenBook Pro Duo UX581GV-H2041T Intel Core i9 9th Gen 15.6" 4K UHD OLED Touchscreen Laptop (32GB RAM/1TB NVMe SSD/Windows 10/6GB NVIDIA RTX 2060 Graphics/ScreenPad Plus/2.50 Kg), Celestial Blue',
 'ASUS ROG Strix Scar 15 (2020), 15.6" FHD 300Hz/3ms, Intel Core i9-10980HK 10th Gen, RTX 2070 Super 8GB Graphics, Gaming Laptop (32GB RAM/1TB NVMe SSD/Windows 10/Black/2.35 Kg), G532LWS-HF079T',
 'Dell XPS 9570 15.6" (39.62cms) UHD Laptop (8th Gen i9-8950HK/32GB/1TB SSD/Win 10 + MS Office/Integrated Graphics), Silver',
 'HP Omen X 2S Core i9 9th Gen 15.6-inch Dual Screen Gaming Laptop (16GB/2TB SSD/Windows 10/8GB NVIDIA RTX 2080 Graphics/Shadow Black), 15-dg0019TX',
 'Apple MacBook Pro (16-inch, 16GB RAM, 1TB Storage, 2.3GHz 9th Gen Intel Core i9) - Silver',
 'HP Z4 Workstation, Intel Core i9-7900X, RAM 32GB (4x8GB), 2TB Hard Disk, GFX NVIDIA Quadro P2000 5GB (4) DP, Windows 10 Pro, DVDRW, 3 Yrs Onsite Warranty by HP']

In [128]:
# for getting the accurate information we will get the urls of laptop
laptops_url=[]
for i in driver.find_elements_by_xpath('//h2[@class="a-size-mini a-spacing-none a-color-base s-line-clamp-2"]/a'):
    laptops_url.append(i.get_attribute('href'))

In [129]:
laptops_url

['https://www.amazon.in/Asus-G703GI-E5148T-17-3-inch-i9-8950HK-Processor/dp/B07GRCW51K/ref=sr_1_1?dchild=1&keywords=laptops&qid=1621630371&refinements=p_n_feature_thirteen_browse-bin%3A16757432031&rnid=12598141031&s=computers&sr=1-1',
 'https://www.amazon.in/ASUS-Zephyrus-i9-10980HK-RTX-2080-SUPER-Max-Q-GX550LXS-HF168TS/dp/B08PFBB6RG/ref=sr_1_2?dchild=1&keywords=laptops&qid=1621630371&refinements=p_n_feature_thirteen_browse-bin%3A16757432031&rnid=12598141031&s=computers&sr=1-2',
 'https://www.amazon.in/ASUS-Strix-Scar-i9-10980HK-RTX-2080-Super-G732LXS-HG059T/dp/B08GQZWVL9/ref=sr_1_3?dchild=1&keywords=laptops&qid=1621630371&refinements=p_n_feature_thirteen_browse-bin%3A16757432031&rnid=12598141031&s=computers&sr=1-3',
 'https://www.amazon.in/Lenovo-Legion-Windows-Graphics-81YU006HIN/dp/B08GG9RZJC/ref=sr_1_4?dchild=1&keywords=laptops&qid=1621630371&refinements=p_n_feature_thirteen_browse-bin%3A16757432031&rnid=12598141031&s=computers&sr=1-4',
 'https://www.amazon.in/ASUS-i9-10980HK-Touchscreen-Celestial-UX581LV-H2035T/dp/B08CHDLVT1/ref=sr_1_5?dchild=1&keywords=laptops&qid=1621630371&refinements=p_n_feature_thirteen_browse-bin%3A16757432031&rnid=12598141031&s=computers&sr=1-5',
 'https://www.amazon.in/Renewed-Dell-XPS-i9-8950HK-Backlit/dp/B08X6DJVYR/ref=sr_1_6?dchild=1&keywords=laptops&qid=1621630371&refinements=p_n_feature_thirteen_browse-bin%3A16757432031&rnid=12598141031&s=computers&sr=1-6',
 'https://www.amazon.in/ASUS-UX581GV-H2041T-Touchscreen-ScreenPad-Celestial/dp/B08521KLH6/ref=sr_1_7?dchild=1&keywords=laptops&qid=1621630371&refinements=p_n_feature_thirteen_browse-bin%3A16757432031&rnid=12598141031&s=computers&sr=1-7',
 'https://www.amazon.in/ASUS-i9-10980HK-Graphics-Windows-G532LWS-HF079T/dp/B08HX42DGG/ref=sr_1_8?dchild=1&keywords=laptops&qid=1621630371&refinements=p_n_feature_thirteen_browse-bin%3A16757432031&rnid=12598141031&s=computers&sr=1-8',
 'https://www.amazon.in/Dell-9570-15-6-inch-i9-8950HK-Integrated/dp/B08C5FMBLB/ref=sr_1_9?dchild=1&keywords=laptops&qid=1621630371&refinements=p_n_feature_thirteen_browse-bin%3A16757432031&rnid=12598141031&s=computers&sr=1-9',
 'https://www.amazon.in/HP-15-6-inch-Windows-Graphics-15-dg0019TX/dp/B07TDKNM4W/ref=sr_1_10?dchild=1&keywords=laptops&qid=1621630371&refinements=p_n_feature_thirteen_browse-bin%3A16757432031&rnid=12598141031&s=computers&sr=1-10',
 'https://www.amazon.in/Apple-MacBook-16-inch-Storage-2-3GHz/dp/B081JX8QP9/ref=sr_1_11?dchild=1&keywords=laptops&qid=1621630371&refinements=p_n_feature_thirteen_browse-bin%3A16757432031&rnid=12598141031&s=computers&sr=1-11',
 'https://www.amazon.in/HP-Workstation-i9-7900X-Windows-Warranty/dp/B078LRG8MX/ref=sr_1_12?dchild=1&keywords=laptops&qid=1621630371&refinements=p_n_feature_thirteen_browse-bin%3A16757432031&rnid=12598141031&s=computers&sr=1-12']

In [130]:
# for getting the ratings we will iterate to each page

Ratings=[]
for i in laptops_url:    
    driver.get(i)                   # getting on pages through urls
    try:                 
        rate=driver.find_element_by_xpath("//span[@id='acrCustomerReviewText']")#locating the ratingd link
        rate.click()                                                      #click the rating link found
        rating=driver.find_element_by_xpath("//span[@class='a-size-medium a-color-base']")#locating the rating
        Ratings.append(rating.text)#appending the ratings in Ratings list
    except NoSuchElementException   as e:
        Ratings.append("-")#appending the No rating if no rating is there

In [131]:
Ratings

['3.7 out of 5',
 '-',
 '4.8 out of 5',
 '3.7 out of 5',
 '3.8 out of 5',
 '-',
 '3.9 out of 5',
 '4.2 out of 5',
 '2.4 out of 5',
 '4.5 out of 5',
 '4.2 out of 5',
 '5 out of 5']

In [133]:
# for getting the prices we will iterate to each page
prices=[]
for i in laptops_url:        #loop for every laptop in the list

    driver.get(i)

    try:          
        price=driver.find_element_by_xpath('//span[@class="a-size-medium a-color-price priceBlockBuyingPriceString"]')
        prices.append(price.text)
    except NoSuchElementException   as e:
        prices.append("-")#appending no if no rating is there

In [134]:
prices

['-',
 '₹ 2,66,990.00',
 '₹ 2,77,639.00',
 '₹ 2,62,990.00',
 '₹ 2,99,325.00',
 '-',
 '₹ 2,79,990.00',
 '₹ 2,15,990.00',
 '₹ 2,48,790.00',
 '₹ 3,45,800.00',
 '₹ 2,24,990.00',
 '₹ 2,69,900.00']

In [135]:
print(len(prices),len(laptops),len(prices))

12 12 12

In [137]:
# creating the DataFrame
import pandas as pd
core_i9_laptops=pd.DataFrame({})
core_i9_laptops['Title']=laptops[0:10]
core_i9_laptops['Ratings']=Ratings[0:10]
core_i9_laptops['Price']=prices[0:10]

In [138]:
core_i9_laptops

,Title,Ratings,Price
0,"ASUS ROG G703GI-E5148T 17.3"" (43.94 cms) FHD 1...",3.7 out of 5,-
1,"ASUS ROG Zephyrus Duo 15, 15.6"" FHD 300Hz/3ms,...",-,"₹ 2,66,990.00"
2,"ASUS ROG Strix Scar 17 (2020), 17.3"" FHD 300Hz...",4.8 out of 5,"₹ 2,77,639.00"
3,Lenovo Legion 7 10th Gen Intel Core i9 15.6 in...,3.7 out of 5,"₹ 2,62,990.00"
4,ASUS ZenBook Pro Duo Intel Core i9-10980HK 10t...,3.8 out of 5,"₹ 2,99,325.00"
5,(Renewed) Dell XPS 9570 Laptop|i9-8950HK|32GB ...,-,-
6,ASUS ZenBook Pro Duo UX581GV-H2041T Intel Core...,3.9 out of 5,"₹ 2,79,990.00"
7,"ASUS ROG Strix Scar 15 (2020), 15.6"" FHD 300Hz...",4.2 out of 5,"₹ 2,15,990.00"
8,"Dell XPS 9570 15.6"" (39.62cms) UHD Laptop (8th...",2.4 out of 5,"₹ 2,48,790.00"
9,HP Omen X 2S Core i9 9th Gen 15.6-inch Dual Sc...,4.5 out of 5,"₹ 3,45,800.00"

In [139]:
# closing the chrome driver
driver.close()